[2017-05-23 11:36] kynan opened #5 "PyPI/conda package"
@rabernat, are you planning to package this for PyPI and/or conda?

/cc @alexamici

[2017-05-23 13:08] rabernat commented on #5
Yes definitely! We have not actually made an official release yet. But knowing there is interest from the community will motivate us.

Sent from my iPhone

[2017-05-23 14:42] kynan commented on #5
I've just packaged it for conda-forge: conda-forge/staged-recipes#3017

Want me to add you as a maintainer?

[2017-05-23 19:13] rabernat commented on #5
Yes, thanks very much!

We really didn't think anyone else was using this package, but I'm glad to see that you have found it useful. Obviously there is lots more that could be added (e.g. #4). We would really welcome your involvement!

[2017-05-23 22:13] kynan commented on #5
Sure, happy to be involved. Meanwhile, would you be happy to tag a release so we can point the recipe to a tag rather than master as pointed out by @jakirkham?

[2017-05-25 19:56] dhruvbalwada opened #6 "Broadcasting problems"
I am trying to get started on using XRFT.

Here is a description of the problem that I am running into.
https://gist.github.com/dhruvbalwada/8e013e14de2be5f7f19185760154036b

Basically when I am using xrft with my dataset, xrft doesn't like the shape.
Any suggestion on how to proceed?

[2017-05-25 20:25] rabernat commented on #6
Thanks for posting this issue. It reveals several problems with the code.

This is your error traceback
[code]

This is the line producing your error:
https://github.com/rabernat/xrft/blob/master/xrft/xrft.py#L187

The central problem here seems to be that @roxyboy's code unnecessarily accesses the `.values` attribute of an xarray dataarray. Since the operation is on raw numpy arrays, this makes i

[2017-05-25 20:32] rabernat commented on #5
Just tagged release v0.1

[2017-05-25 20:36] rabernat opened #7 "xrft fails for arrays without coordinates"
Example

[code]
This is a perfectly valid xarray dataset
[code]

But xrft chokes on it:
[code]

[code]

[2017-05-25 20:36] roxyboy commented on #6
`coord[-i-1]` takes the latter half of the coordinate values, which are the values of the difference of frequencies, i.e. \Delta freq_x. It's necessary to normalize the power spectrum to density. Also ps is a numpy array I think because it is defined as `ps = np.real(daft * np.conj(daft))` but I noticed now that everything can be done in an object-oriented manner, keeping the xarray dimensions and

[2017-05-26 14:06] rabernat opened #9 "isotropic_powerspectrum fails for extra dimensions"
I think this is a self-contained minimum reproducible example of #6.

`isotropic_powerspectrum` doesn't work when there are extra dimensions.

[code]
error is
[code]

Same thing happens for `isotropic_crossspectrum`

cc: @roxyboy

[2017-05-26 14:10] rabernat opened #10 "NaNs in coordinates generated by isotropic_powerspectrum"
I am getting NaNs in my coordinates when I try to use isotropic_powerspectrum.

[code]
gives
[code]

It's a big problem to have NaNs in the coordiante, since it makes plotting or other indexing operations impossible.

[2017-05-26 14:11] rabernat commented on #10
cc @roxyboy

[2017-05-26 14:38] rabernat opened #12 "uninformative errors in isotropic_powerspectrum"
`isotropic_powerspectrum` only works when transforming over two dimensions. But the errors raised are not informative when we specify other dimensions.

Consider an example 2D dataset:
[code]
If I try to take an isotropic spectrum of just one dimension of this, i.e. `xrft.isotropic_powerspectrum(da[0])`, I get the error
[code]

Conversely, if I specify a single dimension, i.e. `xrft.isotropic_powe

[2017-05-26 18:48] roxyboy commented on #6
So, Travis CI gives the same error @dhruvbalwada got when the tests with windowing are ran on Python 2.7 but passes the tests on Python 3.6... I'm still trying figure out why.

[2017-05-26 18:50] roxyboy commented on #9
I think this issue is resolved unless the user tries to apply windowing to dask arrays.

[2017-05-26 19:54] rabernat commented on #9
Do we have a test case for my example from my original comment?

[2017-07-16 22:53] jbusecke opened #16 "Problem with windowing"
Hey everybody,

just trying to get started with xrft. I noticed an error when I try to apply a window to Aviso ssh fields.

I was able to reproduce the error with a dummy dataset (see below). But in the current state I was not able to get the windowing running.

[code]

This produces the following error for me:
[code]

[2017-07-16 22:57] jbusecke opened #17 "Problems with dimensions without coordinates"
Hey,
I just ran into a problem with an array that has dimensions w/o coordinates. If I run this little example:
[code]

It gives a key error:
[code]

If I run the same example with coordinates it works fine:

[code]

Best Julius

[2017-07-17 20:50] roxyboy commented on #16
The windowing at the moment is only expected to take the two horizontal spatial dimensions, but I can see how it would be nice to be able to apply it to one-dimensional data.

[2017-07-18 01:36] roxyboy commented on #17
I think we would like to keep this feature of giving an error when data without coordinates is given as an input. There wouldn't be the point for `xrft` if the data didn't have metadata and the coordinates are used to check whether the data is evenly spatially spaced.

[2017-07-18 01:45] jbusecke commented on #17
I see. That makes sense. But perhaps it qould be good to give a more verbose error message if that particular line throws a key error. Or maybe check beforehand if there are dimensions without coordinates?

[2017-07-18 03:01] roxyboy commented on #17
I'm not sure how to create an `if` syntax to check whether the `xarray.DataArray` has no coordinates?

[2017-07-18 03:02] roxyboy commented on #12
I changed the error message in the newest pull request.

[2017-07-18 11:29] rabernat commented on #17
I disagree. We should support all forms of xarray data. The desired behavior is simple: If the input doesn't have coordinates, then neither should the output.

[2017-07-18 12:15] rabernat opened #19 "dask laziness is broken!"
A key behavior of xrft is that it is lazy: it does not convert dask data to numpy data until forced to.

This behavior appears to be broken in the latest version:

[code]

gives
[code]

[2017-07-18 12:20] rabernat commented on #19
I think the problem is here:
https://github.com/rabernat/xrft/blob/master/xrft/xrft.py#L149
(`da.values` is called inside dft, which converts eagerly to numpy)

This was introduced in #4 by @roxyboy. We didn't catch it because the test suite did not properly check for laziness.

[2017-07-18 14:22] roxyboy commented on #17
I'm not sure how to check whether coordinates are given in a smart fashion. Even if coordinates are not given when the data is generated, `xarray.DataArray` gives a default `np.arange()` coordinate to `dim_0`

[2017-07-18 14:57] rabernat commented on #17
I already fixed this and tested for it in #20. Please review that PR to see how it works.

Sent from my iPhone

[2017-07-18 17:57] roxyboy commented on #17
Thank you very much. It makes sense. Could you merge both pull requests?

Best,
Takaya

[2017-07-18 19:56] #17 closed

[2017-07-18 19:56] #19 closed

[2017-07-19 13:04] #16 closed

[2017-07-24 15:11] #12 closed

[2017-07-24 15:11] rabernat commented on #10
Is this fixed?

[2017-07-24 15:13] rabernat commented on #9
Now if I try this, I get the error

[code]

Do we consider this closed?

[2017-07-24 15:14] rabernat commented on #7
Fixed by #20

[2017-07-24 15:14] #7 closed

[2017-07-24 15:15] rabernat commented on #6
@dhruvbalwada can you try the latest master and see if your error has been fixed?

[2017-07-24 15:15] roxyboy commented on #10
I believe so. I modified it that in default the isotropic binning has the quarter length of the 2D fft field.

[2017-07-24 15:18] #10 closed

[2017-07-24 15:20] roxyboy commented on #9
I couldn't come up with a clean way to do it so yes, I coded it so that the user would have to use a `for` loop if the data has more than two dimensions.

[2017-07-24 15:26] rabernat commented on #9
Ok, let's leave the issue open for now then.

[2017-10-26 22:24] dcherian opened #24 "mfdataset and chunks"
I'm using `xarray.mfdataset` to open SST files stored as 1 timestep per `.nc` file; so there is one chunk per file.

Using `xrft` to calculate the psd along time axis of `sst.sel(lon=90,lat=12)` (for example) throws an error because `dask.fft` can do an fft only along an axis that has one chunk in total.

What is the expected usage here?

[2017-10-27 13:26] rabernat commented on #24
Deepak! I'm happy you've found this package...I didn't know if anyone was actually using it! ;)

The solution is the following:
* If you can afford to load the dataset in memory, just call `.load()` before calling xrft
* If not, call `.chunk()` ([docs](http://xarray.pydata.org/en/stable/generated/xarray.Dataset.chunk.html?highlight=chunk)) to rechunk the data before calling xrft

If you post a mor

[2017-10-27 21:40] dcherian commented on #24
The package is super useful!

`.chunk()` seems to work but now Linux kills the process because it consumes too much memory (the whole dataset is only 3 gigs; and each file is only 8.5MB).

[2017-10-31 02:16] rabernat commented on #24
If you have more than 3 GB of memory on the machine, just call `.load()`.

You probably want to call `.chunk()` with arguments, i.e. the new chunk sizes. The idea is to rechunk along dimensions that are not part of the Fourier transform. If you post more details (like a link to a notebook with your actual analysis), I could give more specific advice.

[2018-03-06 19:03] roxyboy opened #27 "Discrete sinusoid transformation"
Currently, the `xrft` package only has discrete Fourier transform but what do people think about adding the option to take the discrete sinusoid transformation? If people are on board, I can work on this.

[2018-03-06 19:22] rabernat commented on #27
I don't think that dask implements DST:
http://dask.pydata.org/en/latest/array-api.html#fast-fourier-transforms

So if you wanted to do this, you would probably have to implement it at the dask level. You could start by raising an issue in dask:
https://github.com/dask/dask/issues

[2018-03-06 19:36] roxyboy commented on #27
Ok, linking the issue I opened on dask: https://github.com/dask/dask/issues/3250

[2018-06-20 09:58] apatlpo opened #29 "dft working with dask but not withouth"
The following works:
[code]
But turning off chunking does not work:
[code]
And leads to:
[code]

This looks like a bug but I could not decipher xrft enough in order to fix it.

[2018-08-25 16:49] roxyboy commented on #29
In order to parallelize the calculation, we require the axes other than being FFT'd to be chunked. Is there a reason why you don't want to chunk the `depth` dimension?

[2018-08-27 03:31] rabernat opened #45 "some suggestions for improving the docs"
Thanks @roxyboy for getting the docs up on RTD! Great work!
https://xrft.readthedocs.io/en/latest/index.html

A few suggestions for how to improve the docs:
- [x] Provide complete API documentation. Sphinx can automatically generate this from the modules' docstrings. (see [xgcm API docs](https://xgcm.readthedocs.io/en/latest/api.html) for an example)
- [x] Use real data for the examples. Calculati

[2018-08-27 19:27] roxyboy commented on #45
Done.

[2018-08-28 01:29] rabernat commented on #45
One cool thing you can do is to put comments like "closes #45" in you PR descriptions of commit messages. Then this issue would be automatically closed.

[2018-08-28 01:29] #45 closed

[2018-08-28 01:29] #24 closed

[2018-08-28 01:51] rabernat opened #49 "operating on chunked data in segments"
Imagine if you are trying to do the power spectrum of a really long timeseries. So long that you don't want to put it all in memory. Currently xgcm / dask fail when you try to take an fft over a chunked dimension:

[code]
[code]

This makes sense if you care about the full Fourier transform. But often with long timeseries, we want to do some sort of tapering in which we average over multiple segme

[2018-08-28 02:01] rabernat opened #50 "rotary spectrum"
With velocity timeseries data, we often want to calculate the [rotary spectrum](https://journals.ametsoc.org/doi/pdf/10.1175/1520-0469%281979%29036%3C0757%3ASTSAOR%3E2.0.CO%3B2), i.e. the power spectrum of `u + iv`.  As in @anirban89's recent paper:
![image](https://user-images.githubusercontent.com/1197350/44696199-8e7f3700-aa44-11e8-9612-6352c0902134.png)

The main difference from a regular powe

[2018-08-28 02:03] rabernat commented on #6
@dhruvbalwada  is this still broken for you with the latest code?

[2018-08-28 02:03] #5 closed

[2018-08-28 02:39] roxyboy commented on #50
I think `xrft.power_spectrum()` keeps both positive and negative frequencies in the output.

[2018-08-28 04:10] dhruvbalwada commented on #6
I think this problem got resolved, as I was able to use xrft to do these calculations.

[2018-09-05 17:51] #50 closed

[2018-09-05 17:52] #49 closed

[2019-01-23 22:36] rabernat commented on #9
I just hit this issue again. It seems weird that we can't take isotropic spectra with more than 2 dimensions, provided that we are only doing FT in 2 of the dimensions.

[2019-01-23 22:42] rabernat commented on #9
It basically comes down to bincount. Here is one possible solution:
https://stackoverflow.com/questions/40591754/vectorizing-numpy-bincount

The other possible solution would be to define a ufunc that does the azimuthal averaging and then call xarray.apply_ufunc. This would work well with dask, while the SO idea above would not.

[2019-02-25 15:51] TomNicholas opened #52 "Tests failing"
xrft's test suite fails on my machine.

Specifically `test_dft_1d[numpy]` and `test_dft_1d[dask]` fail on checking that the returned frequencies are correct:

[code]

Output of my conda list:

[code]

[2019-03-14 10:01] TomNicholas commented on #52
Fixed by merging #53

[2019-03-14 10:01] #52 closed

[2019-03-14 13:08] rabernat opened #56 "docs failing"
https://readthedocs.org/projects/xrft/builds/8751504/

[code]

[2019-03-26 15:06] dcherian opened #57 "Support real='coord'"
Currently the `real` kwarg is boolean, and takes a real FFT along the last dimension. This means that the user needs to transpose the data to an appropriate shape.

I propose that xrft support the following syntax:

`xrft.xrft.dft(da, dim=['time', 'longitude'], real='time')`

[2019-03-26 15:52] roxyboy commented on #57
Thanks for pointing that out @dcherian. As of now, the `real` kwargs implements the `numpy.rfftn` function in paralyzation which only takes the real FFT along the last dimension: https://docs.scipy.org/doc/numpy/reference/generated/numpy.fft.rfftn.html#numpy.fft.rfftn

[2019-03-26 15:56] dcherian commented on #57
I should've been clearer.
`xrft.xrft.dft(da, dim=['time', 'longitude'], real='time')` should be equivalent to
`xrft.xrft.dft(da.transpose(['longitude', 'time']), dim=['time', 'longitude'], real=True)`

i.e. xrft does the appropriate transpose based on the `real` kwarg.

[2019-03-26 16:03] roxyboy commented on #57
That makes sense for two dimensional arrays but for higher dimensional arrays, I'm not sure if the transposing should be made automatically...

We could either implement a warning when the `real` kwarg is used or automate the transposition.

[2019-03-31 03:05] rabernat opened #58 "release 0.2"
I think we should try to release v0.2 of xrft soon. TODO:

- [x] switch to versioneer for version management
- [x] fix #29
- [x] fix #57
- [x] fix #56 (doc builds failing)

[2019-04-01 14:25] roxyboy commented on #56
The docs are passing now but haven't been able to figure out how to automate updating the API page in readthedocs. I tried [`sphinxcontrib-apidoc`](https://pypi.org/project/sphinxcontrib-apidoc/) but it doesn't seem to do what I want...

[2019-04-03 15:47] rabernat commented on #58
Thanks to @roxyboy, we checked off the first item with #65!

Anyone game to take on any of the other issues?

[2019-04-03 15:48] rabernat commented on #29
I believe that xrft should **always work** with numpy arrays. Users should never be required to supply dask data. So I consider this a bug that needs to be fixed.

[2019-04-03 15:49] rabernat commented on #57
@dcherian, we really appreciate your feedback on this. There are not many people working on xrft...just me and @roxyboy (and I don't have much time for it these days).

We would be very happy to get a PR from you that addresses your issue. 😄

[2019-04-03 15:50] roxyboy commented on #29
I'll try reproducing the error and see what's going wrong.

[2019-04-03 15:51] rabernat commented on #57
Actually, @TomNicholas is the one who added the `real` option in #54, so maybe he would be a good person to address this.

[2019-04-03 15:52] rabernat commented on #58
@roxyboy also fixed #56 somehow. 👏

[2019-04-03 18:18] roxyboy commented on #29
I'm unable to reproduce this error...

[code]
gives the following:
[code]

[2019-04-04 15:28] TomNicholas commented on #57
I think that API would be better than what I went for! Is there any performance/consistency reason why we shouldn't just transpose then apply `np.fft.rfftn`? If we're happy to transpose then this seems like a simple improvement to me?

At the risk of totally derailing the discussion.... Fourier transforms (and the xhistogram module I saw you started @rabernat) are so clearly generally-useful that

[2019-04-04 19:17] dcherian commented on #57
If a user wants this feature, it's the only way to get it AFAIK without re-implementing `rfftn`. So yeah should be simple; transport; call `rfftn`; transpose back.

[2019-04-04 19:22] roxyboy commented on #57
Ok, sounds good. Thanks for the feedback @TomNicholas and @dcherian. Would either of you be willing to submit a PR on this??

[2019-04-04 19:47] rabernat commented on #57
Agree. We have discussed this several times on xarray, e.g. here https://github.com/pydata/xarray/issues/1850

The main place for duplication seems to be https://github.com/fujiisoup/xr-scipy. They have discussed merging here:  https://github.com/fujiisoup/xr-scipy/issues/4

There is also https://github.com/crusaderky/xarray_extras,  https://github.com/smartass101/xarray-dsp, etc.

The main proble

[2019-04-05 14:52] roxyboy commented on #29
I'm going to close this bug since the current version of `xrft` doesn't seem to produce this error.

[2019-04-05 14:55] #29 closed

[2019-04-05 14:55] rabernat commented on #29
It's great when bugs fix themselves! 😄

[2019-04-05 17:13] roxyboy commented on #57
Gave it a stab on PR #66. Would be great if I can have some feedback :)

[2019-04-08 18:18] #57 closed

[2019-04-08 19:01] dcherian commented on #57
Thanks for your hard work, @roxyboy

[2019-04-08 19:44] rabernat commented on #58
As a final step before the release, could you make a PR to remove commented-out code lines from the source code.

[2019-04-08 19:45] rabernat commented on #58
Xarray's [HOW_TO_RELEASE](https://github.com/pydata/xarray/blob/master/HOW_TO_RELEASE) document is a good guide on what needs to be done.

[2019-04-10 04:00] roxyboy commented on #9
It seems that the `numpy` community is "satisfied" with the user using a `for` loop for `np.bincount` with multi-dimensional arrays rather than adding a `axis` argument: https://github.com/numpy/numpy/pull/4330

I tried circumventing the issue by using `dask.array.map_blocks`, `xarray.apply_ufunc` and `numpy.apply_along_axis` but providing the `weights` argument for `np.bincount` seems to signific

[2019-04-10 17:23] roxyboy commented on #9
@rabernat Kinda unsatisfying that I conceded to using a for loop but this [PR](https://github.com/xgcm/xrft/pull/70) allows `isotropic_powerspectrum` to take arrays with up to 4 dimensions.

[2019-04-12 22:21] dcherian opened #72 "xscale?"
Just wanted to make sure that people knew of https://github.com/serazing/xscale

Seems like it's superset of xrft's functionality.

[2019-04-12 22:44] #58 closed

[2019-04-12 22:44] #56 closed

[2019-04-12 23:48] rabernat commented on #72
Yes yes there are many similar packages out there. We could try to merge efforts with @serazing but there is a cost to that. For now, we use xrft and it works for us.

Sent from my iPhone

[2019-04-13 00:58] roxyboy commented on #72
I'm not sure if this is an issue so I'm going to close it if there are suggestions otherwise...

[2019-04-13 00:59] #72 closed

[2019-05-04 19:30] tomchor opened #74 "DFT not faster with chunked xarrays"
Maybe I'm missing something, but applying a DFT on an xarray chunked with dask is not faster than a regular xarray. In the README it is mentioned that "uses the dask API of FFT and map_blocks to allow parallelization of DFT", so I expected it to be faster.

Here's an illustration of what I mean

[code]

So DFTing an xarray distributed over 5 chunks is as fast as (a bit slower even) doing it with a

[2019-05-04 20:45] rabernat commented on #74
What kind of computer are you using? How many cores does it have?

Sent from my iPhone

[2019-05-04 21:04] tomchor commented on #74
I'm using a mini-cluster with CentOS. It has 28 physical cores.

Your question made me consider the possibility that dask is not able to operate properly on my machine. I'm very unexperienced on `dask`, so I'm not sure how to diagnose if there's a problem. Based on the fact that I have 5 chunks, I tried issuing the command below (based on [this answer](https://stackoverflow.com/questions/51285420/

[2019-05-06 16:02] rabernat opened #75 "simplify documentation examples"
In today's group meeting, I raised the point that our examples are overly complex

https://xrft.readthedocs.io/en/latest/MITgcm_example.html

Why should using xrft require understanding those other package?

We should develop some simpler, standalone examples.

[2019-06-17 15:37] lanougue opened #76 "dft dimension name"
Hi everyone,

I got through a simple bug. When dimension along which I want to do a dft has more than one character, I got a ValueError.
Here is my simple code
`
a = xr.DataArray(np.arange(5), dims='xx')
xrft.dft(a, dim='xx')
`
I get the error: ValueError: 'x' not found in array dimensions ('xx',)

[2019-06-17 15:49] roxyboy commented on #76
Can you try using the syntax: `xrft.dft(a, dim=['xx'])`? The dim argument is a list and not a string.

[2019-06-17 15:55] lanougue commented on #76
When using name 'x', I don't have the error. When using the name 'xx' I have the error.
Using dim=['xx'] in xrft solves the problem.
However, this is quite disturbing...

[2019-06-17 15:58] roxyboy commented on #76
I'm going to close this for now as it seems the issue is resolved. We kept the `dim` argument to take a list with foresight that taking DFT along multiple dimensions is often desired.

[2019-06-17 18:26] rabernat commented on #76
I don't think this should be closed.

There is a problem with the way xrft parses these inputs. It expects a list, but doesn't raise an error if you provide a string. Internally it is just calling `dims[0]`, which in this case returns `x`.

We need to provide more robust input handling and better error messages. I would look into copying whatever xarray does. Xarray is able to smoothly handle `da.

[2019-07-14 18:20] El-minadero opened #77 "Feature Request: GPU implementation option."
The FFT implemented by numpy is pretty fast already, but for some applications it is not preferable to use a CPU (even vectorized and parallel) implementation. Ex: when most GPU cores are taken up with other concurrent dask processes.

There exist a set of GPU python-CUDA bindings provided by several packages out there, so adding the option to do rfft, irfft, fft, and ifft operations may be standa

[2019-08-01 22:10] tomchor opened #78 "dft fails with real option after xarray update"
I have recently updated xarray to the latest version and noticed that I can't perform a dft if one of the dimensions is set to have a real transform.

Example:

[code]

Now if I use the the `real` option:

[code]

Thanks

[2019-09-18 15:06] TomNicholas commented on #78
It looks like this now breaks because an extra check on the `'dims'` argument to `da.transpose()` was imposed in [xarray PR #2556](https://github.com/pydata/xarray/pull/2556). To fix this then we would just need to supply all the dims in the correct order to `daft.transpose()`, rather than just the "enddims".

[2019-10-17 17:11] lanougue opened #79 "idft"
Hi,
I became quite a fan of this xrft library but I am missing the "idft" function. Is it possible to implement it ?
Ideally, it would transform back a 'freq_x' coordinate back to 'x' coordinate and wrap the ifft function.
Thanks

[2019-10-17 17:25] rabernat commented on #79
Hi @lanougue - thanks for you comments! xrft is simple, but we find it very useful for our needs.

We would love to have the inverse functions implemented. Is this something you'd like to take on yourself? A pull request would be most welcome.

[2019-10-18 17:10] lanougue commented on #79
I can try but I'm not used to play with Github (newbie)...

[2019-10-29 10:14] lanougue commented on #79
Hi @rabernat ,
 I extended the dft code for the following points:

1) forward (df) and backward (idft) fft (sharing the same main code)
2) Take coordinates lag into account to ensure a=idft(dft(a)) (see comment below)
3) Allow other prefix than 'freq_'
4) Change back 'freq_x' into 'x' instead of 'freq_freq_x' (same for 'spacing')
5) idft is working wether or not frequency coordinate of input is ff

[2019-10-29 10:30] roxyboy commented on #79
Thank you for working on this! But, it's kind of hard to exactly understand what you have implemented without actually seeing the code. I personally do not think changing the conventions of `dft` is a good idea... If you could submit your changes as a PR, we could discuss more details about the changes you've made :) To submit a PR, you would first need to:

1. Fork the `xgcm/xrft` repository.
2.

[2019-10-29 10:48] lanougue commented on #79
Thanks @roxyboy. I will try the PR procedure.

I agree with you on the fact that changing dft convention is generally not a good idea. However, it seems to be a necessity as soon as coordinates start entering into account.
From my point of view, absolute phase of dft is pointless if no coordinates are taken into account. Only difference of phase between two dft may matter (only if coordinates are

[2019-10-29 11:06] roxyboy commented on #76
PR #80 should fix this issue. It allows the `dim` argument to take a string and not only a list of strings.

[2019-10-29 11:55] lanougue commented on #79
I tried the PR.
Here is a short example to exemplify my point with uncentered coordinates:
`
import xarray as xr
import numpy as np
import xrft
a = xr.DataArray(np.random.rand(10),dims=('x',), coords={'x':np.arange(-7,3)})
ta = xrft.dft(a, dim=('x',), shift=False)
tta = xrft.idft(ta, dim=('freq_x',))
a.plot()
np.real(tta).plot(linestyle='--')
`

[2019-11-04 10:29] lanougue commented on #76
Perfect ! Thanks !

[2019-11-04 10:29] #76 closed

[2019-11-10 15:12] aaronspring opened #82 "xrft doesn't keep multidimensional coords"
Thanks for creating `xrft`.
I would like to use it on a dataset with multi-dim coords.

[code]
works with
`ds = xr.tutorial.load_dataset('air_temperature')['air']` because no multi-dim coords?

My current work-around when coords are lost:
[code]

[2019-11-10 15:55] roxyboy commented on #82
The error seems to be stemming from that your coordinates are not evenly spaced. If your data is on lat-lon coordinates, the workaround would be to interpolate your data onto evenly spaced coordinates or reduce the tolerance level by adjusting the `spacing_tol` argument.

[2019-11-10 17:53] rabernat commented on #82
Takaya that can’t be right because he is taking the power spectrum over the time dimension.

Sent from my iPhone

[2019-11-15 05:12] navidcy opened #83 "trouble with real=True in dft"
I am having some trouble using the real fft. I have a time series of temperature data:

[code]

When I use `dft` without the `real=True` flag all seems good:
[code]

But when I give `real=True` I get:
[code]

Am I doing something wrong?

[2019-11-15 09:18] roxyboy commented on #83
`real` takes the dimension to take the real FFT over so in your case, `dahat = xrft.dft(da, window=True, real='time')` should do the trick.

[2019-11-15 09:21] roxyboy commented on #82
Sorry, so is the data evenly spaced in time @aaronspring ?

[2019-11-15 09:25] aaronspring commented on #82
My own data is evenly spaced (int timestep)

[2019-11-15 09:31] aaronspring commented on #82
I rechecked with `rasm`. `time` is `cftime.DatetimeNoLeap` and different months so not evenly spaced.

When I set `rasm` to an evenly spaced timestep: `ds['time'] = np.arange(ds.time.size)`, then I don`t get the error as above.

But the issue of the title still remains. The multi-dim coords are not kept.

[code]
`xc` and `yc` are not kept.

[2019-11-15 09:48] aaronspring commented on #82
should I submit a PR? first checking whether any coords got lost in the process and then copy?

[2019-11-15 09:49] roxyboy commented on #82
If you could submit a PR, that would be greatly appreciated! :)

[2019-11-15 10:20] roxyboy commented on #83
Did it work @navidcy ? If so, I'm gonna close this :)

[2019-11-15 15:06] rabernat commented on #82
This issue has come up elsewhere, but I can't remember where. Thanks a lot @aaronspring for bringing it to our attention.

This is the place where the output coordinates are set up:

https://github.com/xgcm/xrft/blob/43835e11ba020c551b8adddc0cf86f68ecabf1e0/xrft/xrft.py#L349-L352

Hopefully it is straightforward to extend this to include the appropriate non-dimension coordinates.

[2019-11-15 15:32] aaronspring commented on #82
already implemement it in https://github.com/xgcm/xrft/pull/84

but yes. where you point this out, its much more straight forward. I will implement this

[2019-11-15 16:06] aaronspring commented on #82
implemented based on suggestion from @rabernat

ready for review

[2019-11-15 22:30] navidcy commented on #83
@roxyboy, I got a different error now

[code]

But you are right. This doesn't seem to be an issue of the package so I'm closing it and we can continue discussion over email.

[2019-11-15 23:14] #82 closed

[2019-11-16 20:33] dhruvbalwada opened #86 "Documentation should show how to satisfy parseval's theorem, and some other basics"
Right now the documentation does not show how Parseval's theorem is satisfied by the output. This is something important to show because we often use it to do proper normalizations. Would be nice to have this somewhere in the documentation. Specially because most fft packages seem to not have any standard definitions, so it is important to show what definitions what your package is partaking in.

[2019-11-16 20:44] dhruvbalwada opened #87 "Issues with isotropic_powerspectrum: dask and freq_r axis"
The isotropic_powerspectrum has a few problems:
a) The first wavenumber returned along the 'freq_r' dimension is a nan. Surely this should be zero or something like that.
b) Problems when using with dask arrays.
I get the error `TypeError: Must specify minlength argument in da.bincount`

Here is an example to reproduce it :
[code]

This works:
`daisops = xrft.isotropic_powerspectrum(da, dim=['x','

[2019-11-17 16:55] roxyboy commented on #87
The `isotropic_powerspectrum` has not been developed for parallelization so I'm not surprised it fails for `dask.array`s

[2019-11-17 16:56] roxyboy commented on #87
Linking issue #9 here.

[2019-11-17 17:04] rabernat commented on #87
`isotropic_powerspectrum` should be able to work lazily. Your error suggests this might be due to the recent addition of `bincount` to dask's built in algorithms.

@dhruvbalwada - as you know we have the SWOT proposal due this week. Once that's done I'll be able to spend some time on this. Bottom line, there is nothing special about isotropic powerspectrum that should preclude the use of dask.

[2019-11-17 17:07] roxyboy commented on #87
Oh, if dask has the API of bincount, parallelizing `isotropic_spectrum` should be quite straightforward :)

[2019-11-17 18:15] roxyboy commented on #86
This is in the testing fwiw which we require it to pass every time a PR is made...

[2019-11-19 09:39] roxyboy commented on #83
This is probably the same issue as #78 . It seems that xarray did some updates which we may have to update `xrft`...

[2019-11-19 09:42] roxyboy commented on #78
So... basically we should update the `_transpose` function @TomNicholas ?

[2019-11-19 09:45] navidcy commented on #83
OK, I'm reopening this then.
I don't really understand the solution @TomNicholas suggests in #78.

How come the tests didn't break when xarray updated? Perhaps you need to make stricter tests? (I'd happily do it but I'm not very good with python...)

[2019-11-19 09:48] roxyboy commented on #83
That's probably because our test environment is Python 3.6.7 while as the new xarray features are in Python 3.7

[2019-11-20 09:07] roxyboy commented on #83
@navidcy Do you wanna give PR #88 a try to see if it works for your needs? I think it should.

[2019-11-20 12:48] rabernat commented on #83
Xarray is the same in Python 3.6 and 3.7

[2019-11-20 13:07] roxyboy commented on #83
Hmm, then I'm not sure why real DFT generated errors in Python 3.7. In any case, the tests for real DFT in Python 3.7 all pass in PR #88.

[2020-01-06 16:33] TomNicholas commented on #78
Sorry for the slow response.

Your PR #88 does exactly this:

so I think you should merge it :)

[2020-01-07 09:40] roxyboy commented on #78
Ok, I'm gonna merge this @rabernat

[2020-02-15 19:50] #78 closed

[2020-02-15 19:51] #83 closed

[2020-04-04 22:35] patrickcgray opened #92 "Getting Wavenumber Units Correct on Power Spectrum and Isotropic Spectrum"
I've been working on a spatial power spectrum from HYCOM data and I'm not entirely sure I understand some of the wavenumber outputs. I assume that both the `power_spectrum` and `isotropic_power_spectrum` functions output wavenumbers as cycles per pixel (1/pix), and this I would just need to multiply this by pix/km to convert to cycles per kilometer, but this doesn't seem to produce reasonable wave

[2020-04-05 09:11] roxyboy commented on #92
Since your metadata seems to be in lat-lon coordinates, the resulting coordinates of `xrft` will come out as cycles per lat-lon. If you want the output coordinates to be in cycles per km, you would need to change the input coordinates to km.

[2020-04-05 09:33] roxyboy commented on #92
As for `isotropic_powerspectrum`, it internally calculates the wavenumber based on the given coordinate to isotropize a 2D spectrum so giving lat-lon coordinates to the function will result in the output having weird dimensions.

[2020-04-06 02:54] patrickcgray commented on #92
Hi @roxyboy thanks for the response that totally makes sense.

As a follow up in order to do what you've recommended, I see there is a lot of discussion on this and clearly many options, but do you know a recommended approach to going from lat/lon (WGS84/EPSG:4326) to a more appropriate CRS? Something like Lambert's Azimuthal Equal Area? After digging around a bit this doesn't seem to be possible

[2020-04-06 07:23] roxyboy commented on #92
I've never used it myself but I've heard people rave about this: `https://github.com/JiaweiZhuang/xESMF`. You might want to check it out.

[2020-04-06 07:23] #92 closed

[2020-04-16 22:02] patrickcgray opened #94 "Variance increasing with increasing wavenumber"
I'm getting a confusing result across a number of datasets and I wanted to see if this could be an issue or is an accurate representation of the data. I'm pulling MODIS data from OpenDap (I've also tried this with MODIS data from Google Earth Engine both as netcdfs and geotiffs and with both SST and chl-a) as shown in the code below and in all examples I'm getting negative variance at all wavenumb

[2020-04-17 07:52] roxyboy commented on #94
Again, this is most likely because you are inputting negative coordinates such as the longitude, which xrft bases its wavenumber on to calculate the isotropization.

[2020-04-17 13:55] roxyboy commented on #94
Also for the power_spectrum case, you have the density flag on as True, which uses the wavenumber spacing based on the given coordinates of the input so that is why you are getting negative values. I tried out your code but if you set the density flag to False, you should get only positive values as you would expect from the spectrum of a Chl field.

[2020-04-17 13:59] rabernat commented on #94
Thanks @patrickcgray for reporting this issue. Whatever the explanation, this is clearly a bug: a power spectrum should never be negative.

@roxyboy - thanks for investigating and helping identify the coding details which cause this bug. Sounds like it should be an easy fix.

[2020-04-17 14:00] roxyboy commented on #94
It's not a bug of xrft, it was never intended to take meta data not in MKI units (such as cycles per lat/lon).

[2020-04-17 14:29] roxyboy commented on #94
@patrickcgray I will try to make a new PR to address the issues, which @rabernat found to be coming from xrft wrongly getting the coordinate spacings as negative when the coordinates are in descending order. Thanks for raising on issue on github and I'll let you know when I have a fix.

[2020-04-17 14:31] rabernat commented on #94
Thanks @roxyboy. To summarize, I think we have identified two separate issues:

1. negative density normalization factor for descending coordinates
2. how to handle data in lat / lon coords

1 should be easy to fix. 2 would be harder.

[2020-04-17 14:32] roxyboy commented on #94
I think I will make `xrft` raise a warning for now when the coordinates are in lat/lon. Each user would probably want a different method in regridding the data onto equally distanced grids.

[2020-04-17 14:34] rabernat commented on #94
:+1: but we should think carefully about how to do this. Parsing the relevant [CF conventions](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.8/cf-conventions.html#latitude-coordinate) would be nice.

[2020-04-17 15:50] patrickcgray commented on #94
Hi @rabernat and @roxyboy, thanks so much for the quick replies and problem solving. Changing the density flag does resolve the confusion, but if that density flag is set to false does that mean it disregards the CRS and just uses pixel counts?

I had been working with another example where I reprojected from WGS84 to Lambert azimuthal equal-area which you can see here: https://colab.research.goog

[2020-04-17 17:21] rabernat commented on #94
It was never using the CRS. Xrft is completely unaware of geography, spherical coordinates, etc.

All that xrft does is to call [numpy.fft](https://docs.scipy.org/doc/numpy/reference/routines.fft.html) functions on the raw data of your dataarray, and then infer the resulting spectral coordinates from the input coordinates using [fftfreq](https://docs.scipy.org/doc/numpy/reference/generated/numpy.f

[2020-05-04 19:15] roxyboy commented on #94
@patrickcgray PR #95 fixed the negative value issue you were having. Thanks for your patience :)

[2020-05-07 14:15] patrickcgray commented on #94
Thanks @roxyboy for the update and @rabernat for the helpful comments!

[2020-05-07 14:15] #94 closed

[2020-05-28 00:41] dhruvbalwada commented on #86
Would still be nice to have. For example, it is not obvious to me how I might estimate the variance in different wavenumber ranges. Is the variance

`1/L \int a^2 dx = \sum power_spectrum * spacing_freq`?

knowing the convention can help users.

[2020-06-12 05:29] navidcy commented on #79
hey @lanougue, `xrft.idft` would be great. It's something I want to use as well...
did you end up submitting a PR?

@roxyboy, from what I see this was never implemented, no?

[2020-06-12 09:37] lanougue commented on #79
Hi @navidcy,
The PR was submitted but did not pass the tests because of profound modification of what the result should be.  Look @ #81 discussion.
I was away from this for some time. I will try to get back in soon!

[2020-07-28 14:52] ks905383 opened #97 "Undocumented error on dimension names"
I've been having issues running `xrft` (0.2.0) - an error of `'t' not found in array dimensions ('time', 'lat', 'lon')` appears, and I haven't been able to diagnose what's causing it.

Here's an example. Running the following causes the error (using the attached file, which is just a `time x lat x lon` precipitation dataset):
[code]

It doesn't seem to be related to the input options though - the

[2020-07-28 14:55] roxyboy commented on #97
Hi @ks905383, thanks for opening an issue. Could you post here what `ds` looks like?

[2020-07-28 14:56] dcherian commented on #97
I think you need `dim=("time",)`

[2020-07-28 15:02] rabernat commented on #97
This is really annoying! We should have fixed this long ago.

[2020-07-28 15:06] ks905383 commented on #97
Thanks for the quick answer, everyone!

Yeah, changing `dim='time'` to `dim=['time']` or `dim=('time',)` seems to get rid of this error. Thanks all! Running into a separate issue where there's a type error a few turtles down in a `isfinite` call, but let me see if I can fix that on my end.

[2020-07-28 15:32] roxyboy commented on #97
@rabernat We should probably release a new version. I recall us fixing it but it was never linked to `conda-forge` nor `pip`.

[2020-07-28 15:36] roxyboy commented on #97
I was referring to here: https://github.com/xgcm/xrft/blob/28f534c7e35a8d772c8c5ef7b697e3f23f413e5a/xrft/xrft.py#L308

[2020-07-28 15:39] rabernat commented on #97
Please go for it if you have the time!

[2020-07-28 15:44] roxyboy commented on #97
An automated release would definitely be nice. I'll take a stab at it tomorrow.

[2020-07-28 15:49] ks905383 opened #98 "CFTime vs. pd.datetime"
Found out the type error issue.

The dataset I was using has time imported `cftime` format (since it's a `noleap` calendar, which are imported as `cftime.datetime` index per `xarray` docs).

Unfortunately, `cftime` formatted dates cause an error when `dft` is run on the `time` dimension, in the `# verify even spacing of input coordinates` section:

[code]

Specifically, the `if` statement only con

[2020-07-28 15:57] ks905383 opened #99 "CFTime vs. pd.datetime"
Found out the type error issue I mentioned in the other thread.

The dataset I was using has time imported `cftime` format (since it's a `noleap` calendar, which are imported as `cftime.datetime` index per `xarray` docs).

Unfortunately, `cftime` formatted dates cause an error when `dft` is run on the `time` dimension, in the `# verify even spacing of input coordinates` section:

[code]

Specifica

[2020-07-28 16:13] ks905383 commented on #99
`In other words, diff will now have twice the value on "leap" days, which don't exist in the original dataset, and therefore trigger the "coordinate is not evenly spaced error" (and presumably cause issues with the Fourier transform).`
actually never mind on that last bit, it looks like the issue is *just* in determining whether the coordinates are evenly spaced, and does not affect the actual cal

[2020-07-29 12:41] roxyboy commented on #99
Does PR #100 seem good for you @ks905383 ??

[2020-07-29 14:31] ks905383 commented on #99
This looks excellent - thank you very much! I can also contribute adding 360-day support as well (the most annoying of calendars, but some climate models use 'em anyways).

[2020-07-29 14:31] #99 closed

[2020-07-29 14:44] #98 closed

[2020-07-29 14:44] roxyboy commented on #99
Ok, I'll add the 360-day support.

[2020-08-25 08:22] dougiesquire opened #102 "Bug when using `density=True` with `chunks_to_segments=True`"
I think there is a bug when using `density=True` with `chunks_to_segments=True`. This can be demonstrated by testing Parseval's theorem for the case of chunked arrays.

For an unchunked array, the integral of the psd matches the variance:
[code]
[code]

However, if we chunk the array into more than one chunk, the integrals of the psd for each segment do not match the corresponding variances:
[code

[2020-08-25 13:12] rabernat commented on #102
Hi Dougie! Thanks so much for this clear bug report.

I agree with your characterization of the bug. We would welcome a pull request to fix this. Is that something you would be interested in taking on?

[2020-08-26 05:11] dougiesquire commented on #102
Sure - I could have a stab

[2020-08-26 11:25] dougiesquire opened #104 "Correction for reduced energy when windowing"
Applying window weighting (e.g. Hann) to a signal reduces its energy. I think it's common to want to correct for this. For example, it appears that such a correction is applied by default in `scipy.signal.welch`:

[code]
![delete-2](https://user-images.githubusercontent.com/42455466/91297889-6ddc4a00-e7e2-11ea-95a8-28a3dfb8e2de.png)

Is there an appetite (beyond my own) to have an option to apply

[2020-08-26 12:34] dougiesquire opened #105 "Bug with spectra when using real fft"
I think there is a bug with the power spectrum estimates when a `real` dimension is provided.

For real fft, Hermitian symmetry is exploited to compute only the non-negative frequency terms. But we can't ignore the energy in the negative frequency terms when computing spectra. To account for this, we need to multiply by 2 the energy of all but the first (DC) mode (and last mode if the signal lengt

[2020-08-26 12:36] roxyboy commented on #105
These are all really great fixes! Thanks for putting in the time.

[2020-08-31 23:52] dougiesquire commented on #102
Ready for review @rabernat

[2020-09-10 13:07] #102 closed

[2020-09-10 13:14] rabernat opened #106 "release workflow failed due to incorrect secrets"
In #101, we added a workflow to automatically upload a release to pypi. It failed due to credentials issues. I will resolve this by double checking our secrets.

https://github.com/xgcm/xrft/runs/1096581077?check_suite_focus=true

[2020-09-10 13:51] rabernat commented on #106
Ok, the problem is that @roxyboy is the sole maintainer on pypi: https://pypi.org/project/xrft/

Takaya, can you add me as a maintainer. My credentials are associated with the xgcm organization-level secrets.

[2020-09-14 02:04] paigem opened #108 "Error updating xrft to version 0.2.1 from GitHub"
Hi xrft folks,

Just wanted to raise a small issue I had a couple days ago. I wanted the updated xrft version from GitHub in order to use the 'real' option in the dft function. I'm currently running on the Pangeo cloud and ended up getting it to work but in a rather round-about fashion (and with help from @navidcy who had the same issue on a different server). My steps:

- Using `pip install git+h

[2020-09-14 13:19] rabernat commented on #106
@roxyboy, could you add me as a maintainer for xrft on pypi? Thanks

[2020-09-14 16:14] roxyboy commented on #106
@rabernat I tried inviting you as a maintainer. Did it work??

[2020-09-14 16:19] rabernat commented on #106
Yes, and the workflow ran! 0.2.1 is released! 🎉

[2020-09-14 16:19] #106 closed

[2020-09-14 16:20] roxyboy commented on #106
Amazzzzing!!!

[2020-09-14 20:32] navidcy commented on #108
Indeed, installing from a specific git commit fails:

[code]

However, installing from pypi is all good

[code]

[2020-09-14 20:42] rabernat commented on #108
Thanks a lot for this issue report! We will look into it.

Note that we also just released v0.2.1, so just doing `pip install --upgrade xrft` should get you all the latest features.

[2020-09-14 23:30] navidcy commented on #108
I see a similar error in the Conda release [here](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=207407&view=logs&j=656edd35-690f-5c53-9ba3-09c10d0bea97&t=e5c8ab1d-8ff9-5cae-b332-e15ae582ed2d&l=536). Hopefully #109 will deal with that.

[2020-09-21 13:25] #108 closed

[2020-09-30 18:34] rabernat commented on #9
Wow numpy-groupies is amazing! Could be very useful in [xhistogram](https://xhistogram.readthedocs.io/en/latest/) as well!

[2020-10-01 06:38] paigem opened #111 "Issues with detrend='linear' in dft() killing kernel"
I have two comments, the first of which is the main issue, while the second is a small, related note. I am currently running the most up-to-date xrft version from GitHub (version 0.2.2+1.g8b7e84e) on Pangeo Cloud.

(1)  I've been trying to use the 'linear' detrend option in `dft()` without success. (I created a sample notebook [here](https://github.com/paigem/pangeo_tests/blob/master/Test_dft_line

[2020-10-01 08:59] roxyboy commented on #111
Thanks for raising the issue. Upon looking at your example, it seems that you don't chunk your data in the lat/lon direction when taking the FFT. Could you try the `linear` option with smaller chunks and see if that works? I might be a memory issue.

As for your second point, I agree and raising a warning is probably a good idea.

[2020-10-01 12:05] rabernat commented on #111
Worth noting here that, since we implemented detrending, xarray has added support for [polyfit](http://xarray.pydata.org/en/latest/generated/xarray.Dataset.polyfit.html), which is totally compatible with dask regardless of chunking. Therefore we should probably replace the internal implementation of detrending with the "official" xarray version.

[2020-10-02 02:47] paigem commented on #111
Thanks @roxyboy for your response. I have tried using the `linear` flag with smaller chunks in the lat/lon direction with the same results. I'll note that without chunking in lat/lon the data array is only 16MB, so my understanding is that chunking more shouldn't be necessary with such a small data subset.

Looking a bit more at the code, it looks like the `xrft.py` function creates chunks of size

[2020-10-02 02:49] navidcy commented on #111
+1 here: I tried chunking spatial dimensions but problem persisted...

[2020-10-02 12:49] roxyboy commented on #111
Ok, well in that case, instead of putting in the effort to try to make the `detrend` function work, I suggest we move on with implementing `polyfit`.

[2020-10-02 20:30] navidcy commented on #111
@roxyboy, I guess the idea is to use `xarray.polyfit` to find the linear tread and then subtract it from the data, right?

@paigem should we try to have a go at it and make a PR?

[2020-10-02 20:56] rabernat commented on #111
We would be very happy to walk you through the PR process.

[2020-10-02 22:15] paigem commented on #111
Yes, let's make a PR, @navidcy!

[2020-10-12 05:19] navidcy opened #113 "Redundant check for chunked dimensions?"
hey, this part here
https://github.com/xgcm/xrft/blob/8b7e84eb414ed02fff059998d2396430417a1d29/xrft/xrft.py#L128-L131
seems to be checking that the axis along FFT is to be done are not chunked.

We are wondering (with @paigem) whether this test is necessary at this point. It seems that if the user asks for FFT along chunked dimensions, `dask/array/fft.py` will raise an informative error. So perhap

[2020-10-14 01:31] paigem opened #114 "Raise warning for non-supported `detrend` arguments"
I noticed that I've been running the dft() function with `detrend=True`. This ran just fine, but also didn't raise any errors saying that 'True' is, in fact, not one of the options. I wonder if it makes sense to add a warning that any arguments that are not either 'constant' or 'linear' will be treated as 'None'? (I realize that this was entirely my mistake in not reading the xrft docs better, but

[2020-10-16 20:48] navidcy opened #115 "Code formatting? Perhaps black to match xgcm"
I'm suggesting here something similar to https://github.com/xgcm/xgcm/pull/131

[2020-10-16 23:24] rabernat commented on #115
Definitely needed!

@jbusecke recently polished up all of the CI for xgcm. Maybe he can do some of the same for xrft? Julius, do you use xrft? It's very important to those of us who do spectral stuff.

[2020-10-16 23:56] jbusecke commented on #115
Nope have not used it, but I can format it for sure!

[2020-10-26 22:45] jbusecke commented on #115
Should I wait for #112 before starting this? I think it will make all the diffs a mess.

[2020-10-27 15:40] #111 closed

[2020-10-27 15:40] #113 closed

[2020-10-27 15:40] #114 closed

[2020-10-29 00:09] navidcy commented on #115
#112 is merged ;)

[2020-10-30 00:56] paigem opened #116 "Undesired chunking of 3d input when using linear detrend with `poyfit()`"
I am running the most up-to-date version of xrft, that uses xarray's `polyfit()` for linear detrending.

When I run `xrft.dft()` on one dimension with linear detrending on a 3d input, I am getting an output that has different chunking than the original input. Specifically, the first axis that is not the fft dimension appears to be output with smaller chunks.

For example, if I construct a simple 3

[2020-10-30 01:49] rabernat commented on #116
This is a good hunch to pursue. My assumption would be that polyfit would not alter the chunk structure at all, particularly if you are applying polyfit over a contiguous (non-chunked) dimension. But that appears not to be the case.

I tried to make a very simple reproducible example, and I actually got the opposite behavior: chunks get consolidated rather than decimated! (This is still a problem.

[2020-10-30 02:02] paigem commented on #116
This plan sounds just fine to me, though I might need some help implementing map_blocks. The other option at the moment (i.e. without needing to update the xrft code) is that I can just run `xrft.dft()` on smaller spatial regions and stitch together a global plot. Not ideal, but likely doable. It's also worth noting that I don't think this problem would arise in 2d cases.

Happy to open an issue a

[2020-10-30 02:38] navidcy commented on #116
Just a note on this: But we *never* want to detrend over a chunked dimension anyway. I mean, `xarray.polyfit()` can do it but, on the other hand `xrft.dft()` requires the dimension that the transform is taken to be un-chunked!
Therefore, a solution would be simply to make sure that after `xarray.polyfit` has done its shenanigans we make sure the output data array has the same rechecking as the ori

[2020-10-30 03:26] paigem commented on #116
@navidcy Yes! I agree! Your suggested fix is exactly what I am currently trying to test (to see if it runs without error on the global dataset), but my dask computation seems to have stalled. Not sure yet if that's because of the polyfit rechunking or an error on my end (likely the latter). But yes, thank you for clarifying this point!

[2020-10-30 03:51] navidcy commented on #116
I opened a PR. It's marked as WIP since the discussion here might conclude that the solution I suggested is not ideal. Feel free to close the PR in that case ;)

[2020-10-30 05:34] paigem commented on #116
With @navidcy 's suggested fix, I am still unable to run xrft linear detrending using `polyfit()` on the global CESM dataset. By running `_apply_detrend()` directly, I have isolated the problem to being within `polyfit()`, i.e. even rechunking after applying `polyfit()` as in @navidcy's PR doesn't solve the problem with a large dataset since it is the calculation of `polyfit()` that is causing the

[2020-11-02 19:28] rabernat opened #119 "questions about 2D detrending implementation"
As part of the refactoring of detrending (see #118), I am looking closely at the 2D detrending function. The core of our existing implementation is here:

https://github.com/xgcm/xrft/blob/3662a856beaad2fe98cc2874daf4be51ac3dd8b6/xrft/xrft.py#L74-L78

https://github.com/xgcm/xrft/blob/3662a856beaad2fe98cc2874daf4be51ac3dd8b6/xrft/xrft.py#L107-L110

I tried coding this up as a standalone routine to

[2020-11-02 19:38] rabernat commented on #119
Ok, I made a dumb mistake! 🤦

I made a nonlinear trend in my example above:
[code]

If I make a linear trend, everything works fine:
[code]

[2020-11-02 19:38] #119 closed

[2020-11-03 14:39] #115 closed

[2020-11-16 19:57] navidcy commented on #116
Is this closed via #118?

[2020-11-16 20:10] rabernat commented on #116
yes

[2020-11-16 20:10] #116 closed

[2020-11-17 17:27] lanougue opened #124 "Why spacing information is added as a new coordinate"
When computing xrft.dft over dimension "x", a "freq_x_spacing" is added in the output as a new coordinates of dimension "1".
This new coord is disturbing since its not really a new dimension/coordinate.
Could it be better option to add this spacing information in output attributes instead of coordinates ?

[2020-11-17 17:33] rabernat commented on #124
Yes, that would be fine with me! This was a somewhat random choice early on.

[2020-11-17 19:03] lanougue commented on #124
I think this spacing parameter should be a coordinate's attribute instead of an attribute of the dft itself.
The reason is that attributes are easily removed with simple operation such as
`A = xr.dft(..., dim='x')`
`B = 3*A`
B have lost spacing attributes.

However, if spacing is an attribute of freq_x in A, it will be kept in B. It will be removed only if some operation is realized on the freq_x

[2020-11-19 23:20] lanougue commented on #124
I opened PR #126 to discuss about that

[2020-11-20 21:19] lanougue opened #127 "bugs: dimension without coordinates and real transforms"
This bugs are on the lastest published version of xrft:

Bug 1 : Impossible to compute this example (a value error is raised in _new_dims_and_coords():

s = xr.DataArray(np.random.rand(5,7,8,12), dims=('x','y','z','t'), coords={'x':range(5), 'y':range(5,12), 'z':range(12,20)})
S = xrft.dft(s, dim=('y','t'))

There is no more error when dimension "t" has coordinates.

Bug 2: Real transforms
s = xr.

[2020-11-20 22:18] lanougue commented on #127
For bug 2:

S = xrft.dft(s, dim=('t','y'), real='t')
and
S = xrft.dft(s, dim=('y','t'), real='t')

do not give the same result and have different shapes.

[2020-12-04 17:20] lanougue opened #130 "Correct amplitude of dft"
Standard fft algorithm (numpy, ...) do not know coordinate spacing and then assumes it to be 1. The user have to manullay multiply the result by the spacing to get the true amplitude of the Fourier Transform.

For instance : In test_theoretical_matching(...), The transformed signal xrft.dft(s, dim='x') is multiplied by the spacing dx before comparison with theoretical result.

With xarray, we now

[2020-12-04 17:22] lanougue commented on #124
solved in PR #126

[2020-12-04 17:22] #124 closed

[2020-12-04 17:40] roxyboy commented on #130
The theoretical FT and numpy FT end up having different units due to what you pointed out. I personally prefer to keep the `xrft.dft` consistent with the `numpy.fft` because the sum of variance computed by `numpy.fft` becomes equivalent to the sum of variance computed in the spatial dimension without having to care about the spatial `dx`.

[2020-12-04 18:35] lanougue commented on #130
I agree with you but this is not exactly true.
You have to divide by the number of points (which is a kind of normalisation) to get the same number. Adding spacing to dft allow you to not care about the number of points and it looks like real parseval identity.

[code]

First case :
[code]

Second case :
[code]

[2020-12-04 18:57] lanougue commented on #130
For xrft users, spacing in both direct and image domain are available. It should thus not be a problem.
Parsevel identity you mentioned in your comment remains true (if correctly computed as in the second case above).

I agree that it starts to depart from numpy.fft  but it is, for me, more logical since units would then be correct for both variances (direct and image domains).

[2020-12-04 19:06] lanougue commented on #130
For zero mean signal `a-=a.mean()`, your identity would just writes:
[code]
Isn't it beautiful and more comparable to Parseval identity ? :)

[2020-12-04 19:09] roxyboy commented on #130
In terms of computing the spectra, the convention (at least for me and papers I've seen in Oceanography) has been so that the `FTa` has the same dimension as `a` so, although I see your point, I'm still in favor of keeping it consistent with `numpy.fft`.

[2020-12-07 14:13] lanougue commented on #130
@roxyboy, I do not really understand your point. Are you talking about units or dimension ? If it is dimensions, multiplying by the sampling will, of course, preserves the dimensions. If it is units, a Fourier Transform can not, by definition, have the same unit a the signal itself.

To use your own argument, multiplying fft output by the sampling allows one to not care of it in the analysis. For

[2020-12-07 14:48] roxyboy commented on #130
I'm not sure I agree with your last point. Based on how `numpy.fft` is implemented, I think the amplitude of Fourier Transform will have the same units as the signal itself.

[2020-12-07 14:55] roxyboy commented on #130
@lanougue But I suppose we could have a flag like `theory=True` which would allow for using the metadata of spacing for normalization and a closer relation to the theory of Fourier transform.

[2020-12-07 15:31] lanougue commented on #130
Yes, it can be done like this but, don't you think it can confuse the user with two much flags ? true_phase, true_amplitude, ...

[2020-12-07 15:33] roxyboy commented on #130
I personally think it's better to preserve the functionality similar to `numpy.fft` but others can chime in.

[2020-12-07 15:46] roxyboy commented on #130
The problem with changing the default functionality is that it will also confuse current users of `xrft` (which there aren't that many but still exist) and potentially break their pre-existing code. So, I'd recommend a soft change with a flag.

[2020-12-07 15:50] lanougue commented on #130
I agree.
However, dft starts having numerous number of flags (for phase or amplitude). Don't you think a separated function could be a better option ?

[2020-12-07 15:57] roxyboy commented on #130
Maybe we can have `xrft.fft` that calls `xrft.dft` with the flag of `true_amplitude`, i.e. `xrft.fft(..., true_amplitude=True)` without putting the flag in `dft` itself.

[2020-12-07 15:59] roxyboy commented on #130
For `xrft.fft`, when `true_amplitude=False`, I think it should just return `xrft.dft`

[2020-12-07 16:51] lanougue commented on #130
Ok, I think it is a very good option.
Following your spirit, and if I understand correctly, we could define xrft.fft that would mimic np.fft (and would thus call dft() with `true_amplitude=False` and `true_phase=False`).
xrft.dft() will thus support the deprecation warning which says that true_phase and true_amplitude will be set to True by default in future dft() definition.
* xrft.fft() will thu

[2020-12-07 16:56] roxyboy commented on #130
Almost. What I had in mind was the opposite. We keep `xrft.dft` as is and add a [Deprecation Warning](https://docs.python.org/3/library/exceptions.html#PendingDeprecationWarning) to it that in future releases, it will be superceded by `xrft.fft`. The default `xrft.fft` behavior will be `xrft.fft(true_phase=True, true_amplitude=True)` and the two flags being false will return the current default `x

[2020-12-07 16:59] roxyboy commented on #130
Current users are calling `xrft.dft` with the expectation of `numpy.fft` functionality. For consistency, I think the default setting of `xrft.dft` should not be changed.

[2020-12-07 17:11] lanougue commented on #130
In time, with your suggestion, the users will finally call xrft.fft() which will not mimic np.fft() anymore. I think this is strange.

With my previous suggestion, dft will continue to keep the same current fft behaviour up to an other new xrft release.
Meanwhile, with the warning, the user will have time to move from xrft.dft() to xrft.fft() that will actually mimic np.fft().
Only dft() will have

[2020-12-07 17:12] roxyboy commented on #130
Makes sense. So we'll have `xrft.fft` do the heavy lifting and the default behavior of `xrft.dft` will be to call `xrft.fft` with the flags being false.

[2020-12-07 17:16] roxyboy commented on #130
And we'll put a deprecation warning that in the future, the default behavior of `xrft.dft` will change to the flags being true. This is what you have in mind right @lanougue ?

[2020-12-07 17:27] lanougue commented on #130
Almost.
dft() requires more computation steps (lag, phase, dx) that have to be computed prior to fft algorithm.
Thus, I was thinking to make dft supports all the heavy code and the warning. dft would have default (amplitude/phase) flags to False in the next version and will be passed to True in the other next one.
xrft.fft() would simply call dft() with flags set to False.

This would simplify the

[2020-12-07 17:32] roxyboy commented on #130
Your logic would mean that `xrft.fft` would always raise a warning in the next release but... I guess that's fine.

[2020-12-07 17:41] lanougue commented on #130
Yes. Unless we find a way to deactivate the warning if dft is called through fft.

[2020-12-07 17:54] lanougue commented on #130
If you are ok, I can go with that. @rabernat : what do you think ?

[2020-12-08 19:21] roxyboy commented on #130
Seems like this would do the trick: https://docs.python.org/2/library/warnings.html#temporarily-suppressing-warnings

[2020-12-08 20:21] lanougue commented on #130
Perfect ! I can start coding this if this plan suits.
Do I have to wait for @rabernat  ?

[2020-12-08 20:23] roxyboy commented on #130
He gave a thumbs up to your plan so I think you can go ahead.

[2020-12-09 00:09] navidcy opened #131 "Release v0.3.0?"
There are quite some bug fixes/changes [since 0.2.3](https://github.com/xgcm/xrft/compare/v0.2.3...master). I think some of the changes were breaking ones (correct me if I'm wrong) and, therefore, v0.3.0 is appropriate?

[2020-12-09 03:05] rabernat commented on #131
I agree! But let's get #129 in first.

I don't think we have any breaking changes. We should avoid those at all costs. But we do have major new features, so 0.3.0 is right.

[2020-12-09 08:16] #9 closed

[2020-12-09 08:17] roxyboy commented on #9
PR #128 fixed this issue.

[2020-12-09 08:17] #87 closed

[2020-12-09 08:17] roxyboy commented on #87
PR #128 fixed this issue.

[2020-12-09 09:38] lanougue commented on #130
Perfect, I'll go for that then !

[2021-01-27 15:35] cspencerjones commented on #86
I agree! Just trying to get my head around this at the moment.

[2021-01-27 15:40] roxyboy commented on #86
We can work on this as soon as the PR #129 is merged.

[2021-01-27 20:03] dougiesquire commented on #86
Note #104 and #105 are also relevant to satisfying Parseval's Theorem

[2021-01-28 17:38] #130 closed

[2021-01-28 17:40] lanougue commented on #79
resolved in #129

[2021-01-28 17:40] #79 closed

[2021-01-28 17:40] roxyboy commented on #79
Resolved by PR #129

[2021-01-28 17:48] lanougue commented on #105
Hi @dougiesquire, @roxyboy

I think this is not an xrft nor scipy periodogram bug. In scipy.signal.periodogram(), there is a default parameter "return_onesided" which is set to "True" as default. xrft power_spectrum() returns a two_sided spectrum.
If you set return_onesided parameter to False in scipy.signal.periodogram(), you should get a two_sided spectrum whose amplitude match xrft.power_spectr

[2021-01-28 18:03] lanougue commented on #105
Actually, adding a "real" parameter in xrft makes xrft.power_spectrum() to return a one_sided spectrum whose amplitude is NOT doubled. real parameter in xrft is thus NOT an equivalent to return_onesided=True in scipy.periodogram() even if the two methods will return a one_sided spectrum.
There is thus no bug, it is just a question of convention that we maybe have to discuss.

[2021-01-28 18:07] rabernat commented on #105
Thanks for the explanations @lanougue! I think it's super important we get all of this documented in the documentation.

[2021-01-28 18:26] rabernat commented on #131
Given the recent discussion, I think we need a documentation update (#86) before we can do another release. A lot has changed with #129 that we need to explain to users.

[2021-01-28 23:12] dougiesquire commented on #105
Thanks for your input, @lanougue.

I agree that it was probably not fair for me to call this a "bug". But, I think most users would expect that the output of a function for computing power spectrum should integrate to (approximately) the signal energy. This is the behaviour of `scipy.signal.periodogram`, for example, regardless of whether `return_onesided` is `True` or `False`. However, running `x

[2021-01-29 10:49] lanougue commented on #105
Hi @dougiesquire,
I fully agree with you. We have to decide if we want to be compliant with scipy.signal.periodogram(). And populate the documentation for sure.

[2021-01-29 12:48] rabernat commented on #86
So who is going to be writing this new documentation? 😉

I'm happy to review once we have a draft started.

[2021-01-30 19:59] navidcy commented on #104
Was this fixed or should it be still an open issue?

[2021-01-30 21:41] roxyboy commented on #104
No, do you want to start a PR @navidcy ?

[2021-01-30 22:19] navidcy commented on #104
I might but perhaps next week ;)

[2021-02-02 17:32] roxyboy commented on #86
I opened a PR #135 for more documentation. Input would be welcomed :)

[2021-02-06 20:57] roxyboy commented on #104
@dougiesquire I haven't been able to satisfy the Parseval's equation when I apply the correction you've suggested, i.e. `p_xrft_corrected.mean('freq_t) = ((x_stacked - x_stacked.mean(['t']))**2).mean(['t_segment']).mean('t)` where `x_stacked` is `x` stacked into n_segment chunks. Have you been able to sort this out?

[2021-02-06 21:29] roxyboy commented on #104
Perhaps this has to do with the window (and data) not being indefinitely long but I would prefer to prioritize the Parseval's identity over this amplitude correction.

[2021-02-06 21:50] dougiesquire commented on #104
Is it close? I suspect this has to do with what exactly you are checking. Can you point me at your test function?

[2021-02-06 21:55] roxyboy commented on #104
I tagged in PR #136 .

[2021-02-06 22:01] roxyboy commented on #104
[code]

Here's a re-produceable example.

[2021-02-06 22:27] dougiesquire commented on #104
Are you sure `_apply_window()` is the same as in `xrft.xrft`? I get the following when trying to run your code. I'm probably doing something stupid...
<img width="610" alt="Screen Shot 2021-02-07 at 9 26 54 am" src="https://user-images.githubusercontent.com/42455466/107130965-b158e980-6926-11eb-99af-2f5b24062a26.png">

[2021-02-06 22:29] roxyboy commented on #104
Sorry, I forgot to mention that I changed the `_apply_window` function to also return the windows as below:

[code]

[2021-02-06 23:05] dougiesquire commented on #104
Sorry, I'm now not quite sure what the issue is here. It looks like with the correction we agree well with `sps.welch` (although I'm still not sure why they don't match exactly). Is your issue with the discrepancy between `xvar.mean('t')` and `np.mean(p_scipy)` /  `p_xrft_corrected.mean('freq_t')`?

[2021-02-06 23:07] roxyboy commented on #104
Yes, because this means that the Parseval's identity is no longer satisfied for the "corrected" spectrum.

[2021-02-06 23:20] dougiesquire commented on #104
It is approximately satisfied. Without the correction in the above example, `p_xrft.mean('freq_t')` will be somewhere around 0.36, which is totally off. I'm still thinking about exactly why the discrepancy between `xvar.mean('t')` and `p_xrft_corrected.mean('freq_t')` is larger for multiple `n_segment`s. But our correction matches `sps.welch` which is good I suppose...

[2021-02-07 01:25] dougiesquire commented on #104
The slight difference between our corrected results and scipy's comes from a difference in the way the window is defined:
`scipy` uses the `scipy.windows` module with `sym=False`, which produces for example:
[code]

whereas we use `numpy.hanning`, which gives:
[code]
If you pass `window='windows[0]'` to `sps.welch()` rather than `window='hann'`, then you'll get exactly the same values as our corre

[2021-02-07 06:58] roxyboy commented on #104
I agree with this.

[2021-02-15 13:32] liu-ran opened #138 "How to do 'idft'"
Hi, I read the manual and found there exists the function `xrft.ifdt`. But it can't be used as the picture shows:

![微信图片_20210215213200](https://user-images.githubusercontent.com/48266323/107952900-55046280-6fd5-11eb-822c-0a36175206e7.png)

[2021-02-15 14:32] roxyboy commented on #138
Until PR #136 is merged and new version for pip and conda is released, you'd have to install `xrft` via `git clone` and `python setup.py install` in order to have the `idft` functionality available. We're working on a new release so it should be available soon from pip or conda.

[2021-02-15 15:55] liu-ran commented on #138
Thanks! @roxyboy

[2021-02-15 15:56] #138 closed

[2021-02-18 10:05] #105 closed

[2021-02-18 10:05] #104 closed

[2021-03-08 11:59] roxyboy commented on #131
I'm personally keen on releasing version 0.3 as soon as we can merge PR #140 . The readthedocs is compiling now locally so I'd appreciate any feedback. You can compile the documentation via `make html` using [Sphinx](https://www.sphinx-doc.org/en/master/usage/quickstart.html).

[2021-03-15 13:41] roxyboy commented on #86
Closed via #140

[2021-03-15 13:41] #86 closed

[2021-03-15 13:41] roxyboy commented on #75
Closed via #140

[2021-03-15 13:41] #75 closed

[2021-03-15 13:42] rabernat commented on #131
I think we are ready to release. @roxyboy would you like to do the honors. Just go to https://github.com/xgcm/xrft/releases/new. The string to use for the release tag is `v0.3.0`.

[2021-03-15 13:44] roxyboy commented on #131
Great, I'd be happy to :)

[2021-03-15 13:47] roxyboy commented on #131
Done 👍

[2021-03-15 13:47] #131 closed

[2021-03-18 21:30] cspencerjones opened #142 "window_correction seems sensitive to formatting of `dim`"
I haven't been able to reproduce this with synthetic data (sorry!)

But for my real data, `xrft.power_spectrum(u_unfiltered.isel(x0=1000,y0=1000).load(),dim='time', window='hann',window_correction=True)` gives the error:
[code]

Whereas `xrft.power_spectrum(u_unfiltered.isel(x0=1000,y0=1000).load(),dim=['time'], window='hann',window_correction=True)`  is totally fine.

Any idea what is causing thi

[2021-03-18 21:33] roxyboy commented on #142
Do you mean that if you generate a synthetic data with the same dimensions and coordinates as your `u_unfiltered`, you don't get an error whether `dim` is a string or list?
And one naive question: why are you loading the data before applying xrft...?

[2021-03-18 21:38] cspencerjones commented on #142
Oh sorry I think that was left in from debugging!

No this is not what I mean. I just tried with the example from the docs in my setup and I didn't get the error. But the example has dimension name `'x'`, and I haven't tried tweaking it.

[2021-03-18 21:40] dougiesquire commented on #142
It looks like `_apply_window` does support `dim` being a string (only a list of string). We must've missed this, but it should be an easy fix.

[2021-03-18 21:43] dougiesquire commented on #142
The issue is that there is a `for d in dims` inside `_apply_window, so yes, things will work for single character dimension names

[2021-03-18 21:46] roxyboy commented on #142
I think in `dft`, if `dim` is given as a string, it is converted to a list...? https://github.com/xgcm/xrft/blob/2bb85b3e532b1cd9ff89409b499d16798377da15/xrft/xrft.py#L341

[2021-03-18 21:50] dougiesquire commented on #142
Hmm weird... I'll try and get to the bottom of this this morning

[2021-03-19 00:02] rabernat commented on #142
Thanks for reporting this @cspencerjones! We appreciate it.

[2021-03-21 20:26] #74 closed

[2021-03-21 20:40] tomchor opened #144 "Doubt about behavior of `dft`"
Great thing that you guys have added inverse `fft`s! However, I can't figure out how to exactly preserve the original coordinates of the data though. I was able to do that with `fft`s so I'm guessing there should be also a way to do this with `xrft`. Here's a MWE:

[code]

Using the `xrft.fft` option also doesn't produce what I expected:

[code]

I feel like I'm missing something obvious but can't

[2021-03-21 20:42] roxyboy commented on #144
`fft` drops the information regarding the phase so `ifft` will only give back the original data but not coordinates as it is lost in that process. Try using `dft` and `idft` if you want to get the coords going back and forth.

[2021-03-21 20:43] roxyboy commented on #144
Some examples are give in the documentation page: https://xrft.readthedocs.io/en/latest/DFT-iDFT_example.html

[2021-03-21 20:57] tomchor commented on #144
Hi, @roxyboy, thanks for the quick answer. However, I also can't figure out how to that with `dft`. The first example I gave used `dft` and the phase information still seemed to get lost. I read through the example in the docs but it still seems that that example loses the phase information, no?

[2021-03-21 21:01] roxyboy commented on #144
Ah, that's because you're data isn't centered. Try setting the `lag` flag in `idft` to 45? I think since your coordinates is starting from 15.

[2021-03-23 02:17] paigem commented on #142
I think I've just run into this same problem when using xrft's `detrend()` function. The code I tried to run is included below, but it looks like the same fix that @dougiesquire made in `_apply_window()` should be added to `detrend()` as well. I can probably make the fix by the end of today.

I'm using xrft version 0.3.0 on Pangeo Cloud.

[code]

<details><summary>ValueError</summary>
------------

[2021-03-23 02:20] rabernat commented on #142
One possible workaround for this issue is to just put the dim inside a list, e.g.

[code]

Does this work?

[2021-03-23 03:09] paigem commented on #142
@rabernat yep I did that so I could run my current computation, but I still think it probably makes sense to update `detrend()` to allow for the dim to just be a string.

[2021-03-23 03:47] dougiesquire commented on #142
Thanks for bringing this up @paigem. I'll also update `detrend()` in the current PR (#143).

[2021-03-23 03:50] paigem commented on #142
That would be great, thanks @dougiesquire!

[2021-04-01 21:48] wenegrat opened #145 "Isotropize returns unexpected range of wavenumbers"
Thanks for working on this project, it seems like it will be very useful.

I wanted to flag what seems to me to be unexpected behavior from isotropize.

Specifically the calculation of a radial wavenumber as,

gives a vector where the highest wavenumber exceeds the Nyquist wavenumber. For example if the sample spacing is 1,  this gives a maximum wavenumber of 0.7. This is because the isotropic spe

[2021-04-01 21:53] rabernat commented on #145
👋  @wenegrat! Welcome to xrft!

I personally am 💯  👍  on truncating the isotropic wavenumber range to within this radius. It has never made sense to me to include those corner regions. But I'm curious what the other devs (particularly @roxyboy) think about this.

[2021-04-02 12:00] roxyboy commented on #145
Truncating the wavenumbers sounds like a reasonable idea. I can work on it.

[2021-04-02 13:45] rabernat commented on #145
Why not invite @wenegrat to implement it instead? It looks like he has already dug into the code. Always good to have more contributors to the package! 😊

Would we want to do this via a deprecation cycle? If we just change something like this suddenly, it could break code that relies on the current behavior.

[2021-04-02 14:34] roxyboy commented on #145
If @wenegrat can make a PR, I'd be more than happy to have his input. Since it's a truncation of the wavenumber without any changes to the flags or coordinate names, I don't think it would cause a breaking in the code but... perhaps it's safer to have a cycle...?

[2021-04-02 16:00] rabernat commented on #145
Imagine, for example, that someone is using xrft as part of an automated system that runs every night. They are aware of this issue and are applying truncation of the spectrum using `isel`. Now we release a new version of xrft that does this truncation internally and it gets updated on their system. Their code would now be wrong. It wouldn't necessarily error--it would just give wrong results.

I

[2021-04-02 18:51] roxyboy commented on #145
Makes sense. Let's go for a deprecation cycle :)

[2021-04-03 00:10] wenegrat commented on #145
Sure I’ll take a shot at it.

On Fri, Apr 2, 2021 at 2:52 PM Takaya Uchida ***@***.***>
wrote:

[2021-04-05 15:13] rabernat commented on #145
Jacob, would you be interested in implementing this change yourself? We would be very happy to walk you through the contribution process.

[2021-04-05 15:15] rabernat commented on #145
Great! The [developer docs](https://xrft.readthedocs.io/en/latest/contributor_guide.html) can help you get started. And feel free to ask any questions, no matter how simple.

If I had to guess, I would say to start with this part of the code:

https://github.com/xgcm/xrft/blob/2bb85b3e532b1cd9ff89409b499d16798377da15/xrft/xrft.py#L985-L986

You will want to define `kr` differently.

[2021-04-15 16:31] bennyrowland opened #146 "Proposal: Output length parameter for FTs"
Big fan of what you guys have already done with xrft.
What do people think about the idea of adding an extra parameter to the FT functions to specify the length/shape of the outputs along each transformed dimension? If the requested output length is larger than the current dimension size, it should be zero filled before FT, if the requested length is smaller, then the post FT output should be trun

[2021-04-16 10:34] roxyboy commented on #146
Is this in a way proposing an automated method for "zero padding"?

[2021-04-16 10:56] bennyrowland commented on #146
It does either of two things - zero padding an input (to increase apparent resolution) and truncating an output before returning (which removes oversampling). Both of these operations are endemic in MRI, sometimes we will actually do both, zero filling to double the size of an input, then truncating the output to the original size which halves the field of view while maintaining the number of pixe

[2021-04-19 16:31] lanougue opened #147 "Erroneous examples in documentation"
Hello everybody,
I wasn't aware of the new realase ! I just had a look. Thanks all for the excellent job!
I gave a look in the doc at "example of discrete and inverse discrete Fourier transform" and recognized my favorite example ;) However I found something a bit erroneous. In cell [13] of the notebook, the numpy fft (npft) has to be 1) "fftshifted", 2) multiplied by the "r" factor and 3) multipl

[2021-04-19 16:52] lanougue commented on #144
Hi @tomchor, @roxyboy ,

When T_f(...,true_phase=True) is evaluated, the phase is preserved but the coordinates of T are lost in the transformation.
T_f is in the Fourier domain and is not associated to any direct (lat) coordinates. Thus, when idft() is called on T_f, idft has no idea on which range of coordinates you need the result. The default is on centered coordinates  with the same range of

[2021-04-19 16:56] lanougue opened #148 "Erroneous behaviour when coordinates of transformation is in decreasing order"
Hi, looking to #144 issue, here is a "bug" behaviour:
[code]

T_f1 and T_f2 should be the same but are not.

[2021-04-19 18:36] lanougue commented on #148
@roxyboy, @rabernat
After a rapid check, as it is coded now, dft (and idft) can work correctly only if input data has increasing coordinates along the axis the dft is taken along. dft and idft need to be updated to take care of reversed coordinates.

From a performance point of view, I think that sorting can be slow (xr.DataArray.sortby) and only a "flip" is actually needed on the data since const

[2021-04-19 18:37] roxyboy commented on #148
A PR would be great, thanks @lanougue ! :)

[2021-04-19 18:52] tomchor commented on #144
Thanks, @lanougue, that's super helpful!

[2021-04-20 10:34] lanougue commented on #148
Done in #149 :)

[2021-04-20 10:34] lanougue commented on #148
Done in #149 :)

[2021-04-26 10:44] bennyrowland commented on #146
@roxyboy did you have any further thoughts about this proposal?

[2021-04-26 15:28] rabernat commented on #147
Hi @lanougue! Thanks a lot for checking this.

We would really appreciate your contributions to the documentation. Since you led the implementation of the "shift" features, it makes sense for you to be the one to update the documentation here. Feel free to propose whatever changes you think are needed via PR.

[2021-04-26 15:43] #142 closed

[2021-04-26 21:12] lanougue commented on #147
Hi @rabernat. Yes, I will work on it.

In the future,iIt would be nice if I could receive an email/notification when someone post an issue in xrft. Is there any list to subscribe to ?

[2021-04-29 12:21] gmuxu opened #150 "Question about dft"
Hi,
I meet a problem when I run dft. My code is:

import xrft
n = int(2**3)
da = xr.DataArray(np.random.rand(n,int(n/2),int(n/2)), dims=['time','y','x'])
with ProgressBar():
    uhat2 = xrft.dft(da.chunk({'time':8,'x':1,'y':1}),
                                 dim=['time'], detrend='linear', window=True).compute()

I got the error:
-----------------------------------------------------------------

[2021-04-29 13:30] rabernat commented on #150
Thanks for reporting this issue Mu. We will look at it right away.

[2021-04-29 13:53] roxyboy commented on #150
Perhaps this has to do with xrft having trouble computing the frequency coordinate when the original data has no coordinate metadata?

[2021-04-29 13:54] rabernat commented on #150
Sounds like a good hunch. But we should be able to handle this situation somehow.

[2021-04-29 14:27] gmuxu commented on #150
Actually, I don't think so. I run the data with coordinate metadata too. It has the same error. I doubt it may be from my system setting. Could you run my code and let me know if you have the same error?

[2021-04-29 21:00] roxyboy commented on #146
I'm honestly ambivalent about this... I personally probably won't use this functionality but if you think it would benefit others and can implement it in a way that would pass the pre-existing tests along with a new test that will check for the zero padding and truncation, I'd welcome a PR :) Maybe @rabernat will have more to say.

[2021-04-29 21:48] rabernat commented on #146
I agree with what @roxyboy said. I'd be happy to accept a PR for this that:
- doesn't require deep refactoring of the existing code base
- is 100% backwards compatible
- is well documented and tested

[2021-05-10 12:39] gmuxu commented on #150
@dougiesquire Thanks for your reply. Now I know the issue may be from my setting. Could you tell me your xarray version?

[2021-05-10 23:05] dougiesquire commented on #150
I ran your code using `xarray=0.18.0`. Perhaps more importantly, what version of xarray are you using?

[2021-05-20 12:55] roxyboy commented on #144
@lanougue Did PR #149 resolve this...?

[2021-05-20 13:10] #148 closed

[2021-05-27 16:16] sgibson-mse commented on #150
FYI: I ran into the same error using xrft=0.3.0 and xarray=0.12.1 - upgrading to xarray=0.18.0 resolved the issue.

[2021-05-30 11:21] roxyboy commented on #150
@gmuxu Does the `xarray` version solve your issue? If so, I'm gonna close this issue :)

[2021-05-31 12:20] liu-ran opened #153 "'isotropize' function fail to work"
![微信图片_20210531162437](https://user-images.githubusercontent.com/48266323/120192138-65bbaa00-c24d-11eb-81d3-a86cd80444ee.png)

[2021-05-31 12:31] roxyboy commented on #153
Can you tell me what `xarray` and `dask` version you're using?

[2021-05-31 13:17] liu-ran commented on #153
@roxyboy Hi, 'xarray' version is 0.15.1  and the 'dask' is  2.25.0

[2021-05-31 13:22] roxyboy commented on #153
Can you try updating your xarray and see if that'll solve the issue (the latest version is 0.18)? I'm using xarray=0.16.2 and that doesn't seem to have an issue with `isotropic_power_spectrum`.

[2021-05-31 13:24] roxyboy commented on #153
Looping in issue #150 , maybe we should have a soft requirement for the xarray version @rabernat ?? It seems we depend quite a lot on the cutting edge development of xarray and dask.

[2021-06-01 01:44] liu-ran commented on #153
@roxyboy  0.16.2 is very good. Thank you!

[2021-06-01 01:44] #153 closed

[2021-06-01 13:06] rabernat commented on #153
We should determine what version of xarray is required for xrft to work and then fix that in our package requirements definition (e.g. requirements.txt). I would not characterize Xarray 0.16.2 as a cutting edge version.

[2021-06-11 11:22] roxyboy commented on #145
@wenegrat Could you take a look at PR #152 and see if it looks ok?

[2021-06-11 17:45] santisoler opened #154 "Implementation of FFT geophysical filters in Harmonica"
Hi everyone!

I'm Santiago Soler, one of the core developers of the [Fatiando a Terra](https://www.fatiando.org) project: open-source tools for geophysics. We have been quite interested in the development of `xrft`, specially for managing FFT-based processes and filters that we are planning to include in [Harmonica](https://www.fatiando.org/harmonica), a library for processing, forward and inverse

[2021-06-11 19:34] roxyboy commented on #154
Hi @santisoler, thanks for your interest in `xrft` and detailed feedback. We are happy to know that there are people using our package.

Part of it was to be compatible with prior releases. We decided to use the naming of `fft` for similar behavior to `numpy.fft` while as the functionality of passing the xarray metadata was left for `dft`.

`detrend="constant"` removes the mean while removes the l

[2021-06-14 15:16] santisoler commented on #154
Hi @roxyboy ! Thanks for the quick response.

I understand. My question is: does it worth having two different functions that are intended to do the same thing with slight differences?

IMHO, I find it a little bit confusing. Nevertheless, if you find necessary to maintain both functions, I would suggest to improve their docstrings to make it very clear about their differences.

Right! My concern

[2021-06-14 15:20] santisoler commented on #146
I'm very interested in seeing an implementation of padding in `xrft` (as mentioned in #154).
Just a minor thought. Wouldn't be better to have a separate function to apply padding rather than having it included into the `xrft.xrft.dft` function?

[2021-06-14 15:26] roxyboy commented on #154
Maybe @lanougue can chime to remind of the discussion we had but I think the idea was that in order to avoid confusion between `numpy.fft` and `xarray.dft`, we decided to keep `xrft.fft` to maintain a functionality similar to `numpy.fft`.

Noted. Will do this in a new PR.

Ok, I'll add this to the documentation.

`xrft.fft` and `xrft.ifft` sheds all the coordinate data so we decided that `lag` sho

[2021-06-14 16:00] lanougue commented on #154
Hi @santisoler,
The initial idea of xrft was to extend fft's to xarrays handling frequency coordinates. However, since xarrays also contain coordinates information, it is possible to correctly perform a Fourier Transform (meaning : with the correct amplitude and correct phase). xrft.fft is the historical function that simply mimic numpy.fft (with frequency vector) while xrft.dft takes care of corr

[2021-06-14 16:24] lanougue commented on #154
@santisoler,
The "lag" parameter exists in order to be able to get the idft onto the right range of coordinates (same as initial input). However, from a user point of view: do you think that it could be easier to provide the original signal's coordinates instead of the lag?

[2021-06-15 13:04] lanougue commented on #154
Hi @leouieda
I think that keeping the full coordinates would be a waste of memory space since they can easily be regenerated (and will be anyway when calling idft). However, the lag is a single value and would require almost no memory.

It could be possible to store the "lag" (evaluated during dft call) but I would prefer rather not for several reasons:
* It is only useful when calling both dft an

[2021-06-15 13:31] wenegrat commented on #145
@roxyboy apologies for not getting to this, it's been sitting on my to-do list making me feel guilty.

I think your implementation looks good. Thanks again.

[2021-06-15 13:31] rabernat commented on #154
Thanks so much @santisoler and @leouieda for this really useful feedback. We are 💯 committed to making fft a useful, stable dependency for downstream projects such as yours. I'll chime in with a few of my thoughts.

IMO we should strongly consider deprecating one or the other. `dft` is not a standard function name, while `fft` appears in many different packages. I think the first step would be to

[2021-06-15 13:42] roxyboy commented on #154
`dft` is the legacy naming in xrft so if we are to drop either `fft` or `dft`, for compatibility with prior versions, I vote for dropping `fft`.

PR #151 adds some of the the operation and theory, which I think we can merge.

I'll work on this in another PR.

[2021-06-15 13:45] roxyboy commented on #154
Or perhaps the other way around is better: `dft` will be a wrapper function of `fft` with the latter being the default and whenever `dft` is called, it'll raise a deprecation warning.

[2021-06-15 13:59] lanougue commented on #154
I did not say "no" ! I only started a discussion :)
I like the round-tripping argument :)
@roxyboy, I can start this PR too if you need

[2021-06-15 14:07] rabernat commented on #154
Sure, sorry if I mischaracterized your comments @lanougue. My apologies. I appreciate everyone's viewpoint on this discussion.

[2021-06-15 14:12] roxyboy commented on #154
I made a PR #155  to start the deprecation cycle of `dft` (coined as byebyedft)

[2021-06-15 14:19] roxyboy commented on #154
Sure, if you could start a PR about keeping the original coordinates as an attribute and automating the `lag` computation, that'd be great @lanougue :)

[2021-06-15 15:00] lanougue commented on #154
Ok, I'll initiate it !

[2021-06-15 17:31] santisoler commented on #154
Thanks everyone for the amazing responses.

I left a few thoughs after reading all the comments in this Issue.

I totally agree on this. I think the `fft` and `ifft` functions should resemble the mathematical description of the Fourier transform and its inverse as much as possible. And since the `F^-1 * F` operator is equal to the identity, I cannot agree more to support the round-tripping.

We be

[2021-06-15 21:02] dcherian opened #156 "parallel FFT"
I was watching @paigem's talk on rechunker+xrft and was wondering: what if xrft optionally calculated the fourier coefficients as a least squares fit to sines and cosines using `dask.linalg.lstsq`.

[2021-06-15 21:05] roxyboy commented on #156
I like the idea but I think we're already hands full maintaining the functionality as is. Would you be interested in starting a PR @dcherian ?

[2021-06-15 21:07] roxyboy commented on #156
And thanks for shout out for `xrft` @paigem . The `rechunker` package looks cool!

[2021-06-15 21:09] roxyboy commented on #27
Linking issue #156 .

[2021-06-15 21:12] paigem commented on #156
Both packages have made my workflow possible - thanks for your efforts on `xrft` @roxyboy!

[2021-06-15 22:00] roxyboy commented on #146
Yes, if we are to implement this, there should be a subroutine (maybe called `_padding()`) which `xrft.fft` should then call.

[2021-06-15 22:01] roxyboy commented on #146
@santisoler Would you like to give it a go for a PR?

[2021-06-15 22:26] dcherian commented on #156
=) i'm too busy, but it would be a fun benchmarking exercise.

[2021-06-15 22:27] Thomas-Moore-Creative commented on #156
Is there anywhere we can see this `rechunker+xrft` talk, @paigem ?

[2021-06-15 22:41] paigem commented on #156
@dcherian I'm intrigued with your suggestion here, but I'm not sure I quite grasp what you're suggesting. Why would using `dask.linalg.lstsq` not require rechunking? If this could bypass the rechunking step (and if I can understand it enough...), I'd be happy to put in a PR.

@Thomas-Moore-Creative Essentially everything I presented in my talk is shown in my Earthcube notebook [here](https://githu

[2021-06-16 09:20] lanougue commented on #154
Hi @santisoler
We are doing PRs according to your suggestions ! Thanks. Concerning the accidental removal of the lag attribute during intermediate processes (in the frequency domain). I proposed (in the PR) to store the lag as an attribute of the coordinates (and not of the dataarray). This should ensure that it will not be deleted during intermediate operations on this dataarray. (it is also actu

[2021-06-16 10:53] lanougue commented on #154
Actually this question raised up some time ago. Should xrft.fft mimic the numpy.fft (because user are used to it) or should it be the closest as possible to the mathematical Fourier transform, as you suggest.
At time, the chosen option was to make xrft.fft to mimic numpy.fft and to make xrft.dft the closest to the mathematical Fourier Transform (I agree that the dft name was not a very good choice

[2021-06-16 12:47] santisoler commented on #154
This is much more clever! I totally agree, so feel free to ignore my previous proposals regarding where to place the lags.

[2021-06-16 12:53] santisoler commented on #146
What I meant was having a public function for the padding and leaving the step to the user, instead of having it included inside the `fft`. So a typical workflow would be like:
[code]

What do you think?

[2021-06-16 12:57] santisoler commented on #146
Sure! I can tackle this. I would like to have some common thoughts about the design of the user interface before I jump into the actual implementation. Let me know if you like the idea I posted on the previous comment, and if not what would you change.

[2021-06-16 14:04] roxyboy commented on #146
Sounds good to me. We already have `isotropize` and `detrend` as public functions so maybe you can create a new file like `padding.py` as part of xrft?

[2021-06-16 14:05] roxyboy commented on #146
But, along with the public function, I still think it would be beneficial to have an argument within `fft(pad=True)`, which would call the public padding function. This is how we do it for detrending for example.

[2021-06-16 14:16] bennyrowland commented on #146
@santisoler nice to see someone else with enthusiasm for this. I think that your proposal would work, and as @roxyboy says it would be easy to then add that functionality inside the FT functions. I agree it is nice to have it there as it can help to convey more intent, but not too bothered as it is easy to wrap the two functions up anyway. However, `pad`/`unpad` are going to have more arguments th

[2021-06-16 17:03] santisoler commented on #146
Regarding including the padding inside `fft`, I agree with @bennyrowland. I think `pad` will end up having many more arguments than just `True`/`False`, and they could scale in the future if we implement some fancy method of padding (e.g., some authors have filled the padded region with white noise based on the spectrum of the original data -citation needed-). This is why I would implement it as a

[2021-06-16 22:05] bennyrowland commented on #146
If you want to simply match the xarray `pad()` behaviour, but handling extrapolating coordinates better, then it might be more sensible to approach that directly in xarray. @shoyer for example has previously suggested that having a special case for `xarray.pad()` where coordinates are equally spaced would be appropriate, and it would then reach a larger audience.

My use case (in MRI) is obviously

[2021-06-16 22:28] shoyer commented on #146
Generic padding/trimming as separate functionality seems fine, too, but I'll just note that output length padding/trimming is already built into all the `numpy.fft` functions. So this might also be implemented just by passing on the length information into the underlying FFT.

[2021-06-17 07:59] roxyboy commented on #146
If the padding/trimming functionality in numpy already exists, we should definitely take advantage of that rather than us reinventing the wheel from scratch.

[2021-06-30 09:59] roxyboy opened #159 "`Detrend='linear'` with `chunks_for_segments=True` fails"
I haven't gotten to the bottom of this yet by the combination of `Detrend='linear'` and `chunks_for_segments=True` fails. Below is a reproducible example:

[code]

It seems that the linear detrending is affecting the chunk size. The snippet above works fine when `detrend='None'` or `'constant'`.

[2021-06-30 10:32] roxyboy commented on #159
This is originating from upon applying linear detrending, the ordering of the dimension changes so the `axis_num` becomes inconsistent with the actual dimensions the FFT is going be take over.

[2021-07-02 13:30] roxyboy commented on #159
PR #160 fixed this.

[2021-07-02 13:30] #159 closed

[2021-07-02 13:30] roxyboy commented on #145
PR #152 fixed this so I'm going to close this :)

[2021-07-02 13:30] #145 closed

[2021-07-02 13:31] roxyboy commented on #147
PR #151 addressed this so I'm going to close this :)

[2021-07-02 13:31] #147 closed

[2021-08-24 02:28] paigem opened #162 "Possible error in handling of coords when using `real_dim`"
I ran into an error when running xrft functions. The error seems to occur when the xarray DataArray has multiple coordinates that depend on the dimension that is passed to the `real_dim` flag. Below is (my attempt at) a minimal reproducible example that yields an error included just below.

[code]

<details><summary>Value Error</summary>

[code]

</details>

So I think the trouble here is that in

[2021-08-24 11:49] roxyboy commented on #162
I think this is indeed a bug. I didn't have in mind the same dimension having two coordinates corresponding to it when writing the code. A PR would be appreciated :)

[2021-08-24 11:53] roxyboy commented on #162
I'll probably make a new release as soon as this issue is resolved.

[2021-08-24 12:25] paigem commented on #162
Ok sounds good! So just to clarify - what do you think the best course of action is here? Ask the user to delete the extra coordinates, or keep the "problem" coordinate (in my example above, keep 'time' as a dimension in addition to 'freq_time')? Or something else?

[2021-08-24 12:29] roxyboy commented on #162
I doubt that after taking the FFT, any coordinate attached to the dimension upon which it was taken (i.e. `time` in your example) will be useful to the user but... who knows. So, you if you can find a work around to keep the extra metadata, I think that would be the most versatile PR.
Otherwise, I think raising an error with a proper message that "the dimension over which the FFT is taken should o

[2021-08-25 07:56] paigem commented on #162
Will submit this PR tomorrow - was at a workshop all day and didn't have as much in-between time as I was hoping.

[2021-08-29 14:51] rabernat opened #164 "pypi release github workflow failure"
https://github.com/xgcm/xrft/runs/3450436194?check_suite_focus=true

<details>
[code]
</details>

The problem is that the workflow environment is not getting the proper version number from the package.

I definitely remember a similar problem cropping up somewhere else, but I can't remember where!

[2021-08-29 14:55] rabernat commented on #164
Ok, now I remember, it was this: https://github.com/pangeo-forge/pangeo-forge-recipes/pull/127#issuecomment-836723369

Which we solved via:
- https://github.com/pangeo-forge/pangeo-forge-recipes/pull/128
- https://github.com/pangeo-forge/pangeo-forge-recipes/pull/129

I suspect that this related to the fact that we are still using versioneer for versioning. Versioneer is no longer maintained and w

[2021-08-30 09:51] roxyboy commented on #162
Closed via #163

[2021-08-30 09:51] #162 closed

[2021-08-31 14:35] roxyboy commented on #164
I've never understood the niddy griddies of managing versions but in order to switch from versioneer, do I just uninstall it, delete versioneer.py and then follow the instructions for `setuptools_scm`?

[2021-08-31 14:42] rabernat commented on #164
Yes, that sounds about right. You'll have to do some trial and error. It's probably going to be a pain in the neck.

In both systems, the version is determined from the git tag, so when you're done with this refactor, the version number should not change.

[2021-08-31 14:43] rabernat commented on #164
Alternatively, we could keep versioneer and you could look hard at the error message and try to understand what's going wrong.

[2021-08-31 14:48] roxyboy commented on #164
Considering that versioneer is no longer maintained (such a bummer), I think it would be wise to try to refactor xrft for setuptools_scm... I'll give a try.

[2021-08-31 14:50] rabernat commented on #164
Cool. One thing you can do while debugging the CI is to make a bunch of "release candidate" (RC) releases, rather than continuing to bump the version.

[2021-09-01 14:32] rabernat commented on #164
So now we are in the same place we were in with Pangeo Forge. setuptools-scm produces the correct version locally but the wrong one inside the github workflow. This is the same issue described in https://github.com/pangeo-forge/pangeo-forge-recipes/pull/127#issuecomment-836723369. Hopefully it has the same fix. @tomaugspurger is the one who sorted it out there, but I wouldn't expect him to chime i

[2021-09-01 14:40] TomAugspurger commented on #164
Some breadcrumbs:

* https://github.com/pangeo-forge/pangeo-forge-recipes/pull/128
* https://github.com/pangeo-forge/pangeo-forge-recipes/pull/129
* https://github.com/pangeo-forge/pangeo-forge-recipes/pull/130
* https://github.com/pangeo-forge/pangeo-forge-recipes/pull/131

I think all of those were sufficient to fix the version issue. I don't recall what exactly was necessary.

[2021-09-11 01:16] #164 closed

[2021-11-11 15:00] santisoler opened #166 "Error raised when array has additional 2D coordinates"
In [Harmonica](https://www.fatiando.org) we usually produce 2D grids out of scattered data whose dimensions are `northing` and `easting`. In addition, we often have an extra coordinate: the `upward`, which is the vertical coordinate of each point of the grid. The `upward` coordinate is included into the list of coordinates inside the array, but as a 2D array with the same dimensions as the grid it

[2021-11-11 15:07] santisoler commented on #166
Another idea would be to apply `fft` over indexes only, instead of looking for coordinates.

[2021-11-11 15:09] roxyboy commented on #166
Can you elaborate on this? `xrft` uses the raw coordinates to inform the coordinates after the fft is taken.

[2021-11-11 15:54] santisoler commented on #166
Sure! Sorry for the brevity, now that I reread it sounds like I was thinking out loud.

One alternative way to select the possible coordinates along which the fft can be performed could be through the indexes.
If you see the output of the previous print statement, the indexes are those coordinates that has an `*` before their name.

For instance, if I have an array with several coordinates:
- `nor

[2021-11-11 16:02] santisoler commented on #166
If working with indexes is too complex, maybe we could just ignore these extra coordinates and apply the FFT only on the ones that are named after the dimensions of the array.

I think my main issue is with the error against bad coordinates. Is there any special reason for it to exist?

[2021-11-11 16:07] roxyboy commented on #166
PR #163 was where we implemented the error detection as an easy fix to issue #162 .

[2021-11-11 16:08] roxyboy commented on #166
I personally like this idea.

[2021-11-11 18:21] santisoler commented on #166
I've just noticed that `pad` has a similar problem: it raises a cryptic `xarray` error when trying to pad a grid with the extra `upward` coordinate. So probably a single private function should take care of the task of ignoring additional coordinates for both cases, and only a simple call to it inside `fft` and `pad` should do the trick.

[2021-11-29 00:26] zmoon opened #169 "Preservation of DataArray attributes"
It would be nice if `xr.ifft(xr.fft(da))` had the original attributes of `da`. Perhaps `xr.fft(da)` could store them in `.attrs` as `_orig_units`, `_orig_long_name`, etc., and then `xr.ifft` could automatically recover those as `units`, `long_name`, etc.

[2021-11-29 00:31] zmoon opened #170 "Xarray accessor?"
Any interest in a `.ft` (or somesuch) [xarray accessor](https://xarray.pydata.org/en/stable/internals/extending-xarray.html)?

[2021-12-13 03:03] LL-Geo opened #172 "Padding error: Deal with dimension with odd number"
The pad function show error when the original coordinate dimension has an odd number.

---------------------------------------------------------------------------
Oringal data
xarray.DataArray'magnetic_anomaly'northing: 131 easting: 80

---------------------------------------------------------------------------

✔️ da_padded = xrft.pad(Input,easting=24,northing=24)
     xarray.DataArray'magnetic_a

[2021-12-13 14:57] roxyboy commented on #170
This is indeed a cool idea but I have no idea how much extra work this entails...

[2021-12-13 20:04] zmoon commented on #170
I think it shouldn't be too much, mostly `functools.wraps`ing the original functions. I'll give it a go after #168.

[2022-01-13 16:41] avik2007 opened #173 "Cross_spectrum code has a typo."
Hi there,

There is a typo in the cross_spectrum code which unfortunately makes it unusable. Line 866 in xrft.py has a line:
  windows, _ = _apply_window(da, dim, window_type=kwargs.get("window")). "da" should be changed to da1 or
da2.

Best,
Avik

[2022-01-13 16:51] rabernat commented on #173
Hi @avik2007 - thanks so much for this contribution! I'm concerned that this code path is not covered by our tests. Indeed that is what the [codecov report](https://app.codecov.io/gh/xgcm/xrft/blob/master/xrft/xrft.py) shows.

It looks like this code was last touched by @roxyboy in 14274233170bcba25bc08dd5ed3d93ec970f0912.

Takaya would you be willing to fix the bug and write a test for this path?

[2022-01-13 17:00] avik2007 commented on #173
Hi @rabernat,

I just pulled the code to play with it myself - Line 877 has the same problem as well.

[2022-01-13 17:04] rabernat commented on #173
@avik2007 we would welcome a pull request from you to fix the problem!

That pull request would need to include tests to verify the correct behavior. The lack of testing for this option is what got us into this situation in the first place 🤦 .

[2022-01-13 17:10] avik2007 commented on #173
Hi Ryan,

I've never done one of these before, let me look into it. Feel free to go
ahead and fix it if I don't get to it in a reasonable time.

Best,
Avik

On Thu, Jan 13, 2022 at 12:04 PM Ryan Abernathey ***@***.***>
wrote:

[2022-01-13 17:20] rabernat commented on #173
Great! We would love to welcome you to the xrft contributor community and walk you through your first PR. This would be a good opportunity to learn since the code fix itself is trivial. The contributor guide should be useful for getting started: https://xrft.readthedocs.io/en/latest/contributor_guide.html

The overall process is:
- Fork the repo and check out a local branch
- Set up the developmen

[2022-01-13 17:31] roxyboy commented on #173
@avik2007 Thanks for reporting the bug. Let me know if you need help with the PR. Otherwise, I can do the fix :)

[2022-01-13 17:46] avik2007 commented on #173
Hi Takaya,

I'll give this a try and ask you for help if necessary - I personally need
to use the function sooner than later to get some plots made so I'll let
you know if I believe that I won't be able to get it done in a reasonable
amount of time.

Best,
Avik

On Thu, Jan 13, 2022 at 12:32 PM Takaya Uchida ***@***.***>
wrote:

[2022-01-13 21:27] avik2007 commented on #173
Hi all,

I submitted the pull request and added a test for it in
test_cross_spectrum. Let me know if there are any issues.

Best,
Avik

On Thu, Jan 13, 2022 at 12:46 PM Avik Mondal ***@***.***> wrote:

[2022-01-13 22:08] avik2007 commented on #173
@roxyboy I'm afraid I do need a bit of help. I'm running into an error using _apply_window in the test_xrft.py file. I tried changing it to xrft._apply_window() and still ran into the same issue. I'm wondering if you know how to fix this problem - xrft._apply_window is giving me the following error:
 AttributeError: module 'xrft' has not attribute '_apply_window'. I need to use this function to ap

[2022-03-28 17:53] lanougue opened #177 "New release"
Hi guys,

What about a new release with all the new functions and removing all the warnings added in the last release ? ;)

[2022-03-28 17:59] rabernat commented on #177
:+1: from me!

[2022-04-04 10:56] KevinYanesG opened #178 "Usage of `fft real_dim`"
Hi, awesome library! I have one question:

If I understood correctly from https://github.com/xgcm/xrft/blob/master/xrft/xrft.py#L377, when we specify a `real_dim` it should call `fftm.rfftn` from the `fftm_module`. Although, when I look into the [definition](https://github.com/xgcm/xrft/blob/42abb0fd0474f891cab84e0ede86d7f18c16b8b4/xrft/xrft.py#L37) of the `_fft_module`, the `rfftn` doesn't exist.

[2022-04-05 09:12] roxyboy commented on #178
Hi @KevinYanesG, thanks for raising an issue. The reason why `numpy.rfft` doesn't exist in `_fft_module` is because we are calling the entire fft module, under which rfft exists, i.e. `numpy.fft.rfft()`.

[2022-04-05 09:28] roxyboy commented on #177
Fine with me too.

[2022-04-08 13:15] KevinYanesG commented on #178
Aaah! You are calling the module `np.fft` and not the method `np.fft.fft`, now I see it! Many thanks @roxyboy !

[2022-04-08 13:15] #178 closed

[2022-04-18 19:39] santisoler commented on #172
Thanks @LL-Geo for opening this issue. Here I copy a simple working example that reproduces this bug:

[code]

[code]

I suspect the reason behind it is that I unwisely chose `np.arange` for building the extended padded coordinates, while `np.linspace` is a much safe option. Apparently `np.arange` is generating an array with an extra element so I cannot be used to replace the values of the origina

[2022-04-20 12:02] iuryt opened #181 "Confidence level"
Hi,

Nice package!

I think it would be nice to add an example to docs or have a new feature for estimating the 95% confidence level by which the spectrum differ from white or red noise.

I found this [post](https://stackoverflow.com/questions/67992691/how-to-calculate-95-confidence-level-of-fourier-transform-in-python) on Stack Overflow and would like to know the best way to do that using your pa

[2022-04-25 10:04] roxyboy commented on #181
Thanks for using our package @iuryt :)

In Appendix E of this paper, we provide how to estimate the 95% confidence level based on the chi2 distribution: https://agupubs.onlinelibrary.wiley.com/doi/abs/10.1029/2021MS002692
Jupyter notebooks where I compute the confidence interval are available via [Github](https://github.com/roxyboy/EOF-spectra/blob/master/Spectra.ipynb) doi:10.5281/zenodo.5563893

[2022-04-26 14:02] santisoler opened #183 "Pre-commit GitHub Action has been deprecated"
The [`pre-commit/action`](https://github.com/pre-commit/action) has been deprecated, the GitHub Actions that use it are failing (see #180 and #182).

Since `xrft` uses only black on `pre-commit`, we could easily replace the `pre-commit` action by installing Black through pip and running it as a checker.

I'll be glad to tackle this issue.

[2022-04-26 15:00] roxyboy commented on #177
I'll tidy this up after PR #182 gets merged.

[2022-04-29 07:38] #183 closed

[2022-04-29 07:43] #173 closed

[2022-05-03 08:46] roxyboy commented on #172
PR #180  fixed this.

[2022-05-03 13:37] #172 closed

[2022-05-12 16:08] roxyboy opened #187 "Isotropize missing 2pi factor"
I may be wrong but I think we're missing a `2pi` factor in [the process of isotropizing the spectra](https://github.com/xgcm/xrft/blob/eb5d330fc9ba85c9d5ea9676f7bb2f06b5deb5a1/xrft/xrft.py#L1053).
When isotropy is assumed, the azimuthal mean is indeed the isotropic spectra in terms of spectral slope but in order to satisfy Parseval's equality, I think the integration over the azimuthal direction s

[2022-08-10 14:59] roxyboy commented on #177
I'm going to close this with #186 .

[2022-08-10 14:59] #177 closed

[2022-08-10 15:01] #97 closed

[2022-09-09 12:38] lanougue opened #188 "handling error when coordinates are not numerical"
Hello,

I tried to apply fft on an xarray whose one of coordinates are not numerical (string in my case). The returned error is not explicit:
[code]
I think that an explicit error should be raised when the coordinate is not numerical.

[2022-09-11 14:58] mredenti opened #189 "Bug with xrft.fft with multiple dimensions"
https://github.com/xgcm/xrft/blob/d5a89dceb1ddfc6769fec099c4d141fdeba8a050/xrft/xrft.py#L345-L349

Suppose I want to take a multidimensional real Fourier Transform along dimensions `x,y`. Then I would pass `real_dim = ['x', 'y']` which is a list and the above would raise an error as line `346` would not be true